Repository pagarme/pilot, pull requests merged in 2018-08, with the labels that each got.

#725 withdraw: fix empty recipients
  packages/pilot/public/locales/pt/translations.json
  packages/pilot/src/pages/LoggedArea/routes.js
  packages/pilot/src/pages/Withdraw/index.js
Labels: devs, pilot, review-needed

#847 chore: update former kit version
  packages/pilot/package.json
  yarn.lock
Labels: devs, review-needed

#845 bank-account: add selector container
  packages/pilot/public/locales/pt/translations.json
  packages/pilot/src/containers/Settings/BankAccount/Selector/index.js
  packages/pilot/stories/containers/Settings/BankAccount/Selector/index.js
  packages/pilot/stories/containers/index.js
Labels: devs, pilot, review-needed

#849 validation: fix require validation
  packages/pilot/src/validation/required.js
Labels: devs, pilot, review-needed

#660 report-card: add component
  packages/pilot/public/locales/pt/translations.json
  packages/pilot/src/components/ReportCard/index.js
  packages/pilot/src/components/ReportCard/style.css
  packages/pilot/src/models/reportStatusLegend.js
  packages/pilot/stories/components/ReportCard/index.js
  packages/pilot/stories/components/ReportCard/style.css
  packages/pilot/stories/components/index.js
Labels: devs, review-needed

#868 chore: bump vanilla-form to 0.5.2
  packages/pilot/package.json
  yarn.lock
Labels: devs, pilot, review-needed

#872 chore: update former-kit and skin to 0.8.2
  packages/pilot/package.json
  yarn.lock
Labels: devs, pilot, review-needed

#882 circle-ci: add yarn lint to packages/pilot
  .circleci/config.yml
Labels: devs, pilot, review-needed

#867 bank-accounts-settings: add main container
  packages/pilot/public/locales/pt/translations.json
  packages/pilot/src/containers/Settings/BankAccount/Add/index.js
  packages/pilot/src/containers/Settings/BankAccount/Add/style.css
  packages/pilot/src/containers/Settings/BankAccount/Selector/index.js
  packages/pilot/src/containers/Settings/BankAccount/index.js
  packages/pilot/stories/containers/Settings/BankAccount/index.js
  packages/pilot/stories/containers/index.js
Labels: devs, pilot, review-needed

#892 chore: update react-vanilla-form to 0.6.0
  packages/pilot/package.json
  yarn.lock
Labels: devs, pilot, review-needed

#862 Add simple overlay loader
  packages/pilot/package.json
  packages/pilot/src/components/Loader/index.js
  packages/pilot/src/components/Loader/style.css
  packages/pilot/src/components/Transition/index.js
  packages/pilot/stories/components/Loader/index.js
  packages/pilot/stories/components/Loader/style.css
  packages/pilot/stories/components/index.js
  yarn.lock
Labels: devs, review-needed

#897 chore: add pull request template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: devs, review-needed

#878 recipients: add conclusion-step
  packages/pilot/src/containers/AddRecipient/ConclusionStep/ErrorIcon.svg
  packages/pilot/src/containers/AddRecipient/ConclusionStep/SuccessIcon.svg
  packages/pilot/src/containers/AddRecipient/ConclusionStep/index.js
  packages/pilot/src/containers/AddRecipient/ConclusionStep/style.css
  packages/pilot/stories/containers/AddRecipient/ConclusionStep/Fail.js
  packages/pilot/stories/containers/AddRecipient/ConclusionStep/Success.js
  packages/pilot/stories/containers/index.js
Labels: devs, pilot, review-needed

#895 Transactions: capturable validation
  packages/cockpit/src/transactions/details/index.js
  packages/cockpit/src/transactions/details/isCapturable.js
  packages/cockpit/src/transactions/details/isCapturable.test.js
  packages/pilot/src/containers/TransactionDetails/index.js
Labels: cockpit, devs, review-needed

#903 Release/v0.3.2
  packages/pilot/public/locales/pt/translations.json
  packages/pilot/src/components/BalanceSummary/index.js
  packages/pilot/src/components/CurrencyInput/index.js
  packages/pilot/src/components/DetailsHead/index.js
  packages/pilot/src/components/DetailsHead/style.css
  packages/pilot/src/components/TotalDisplay/index.js
  packages/pilot/src/configureStore/states.js
  packages/pilot/src/containers/Anticipation/Confirmation/index.js
  packages/pilot/src/containers/Anticipation/Form/Form.js
  packages/pilot/src/containers/Anticipation/Form/index.js
  packages/pilot/src/containers/Anticipation/Result/index.js
  packages/pilot/src/containers/Refund/BoletoForm/index.js
  packages/pilot/src/containers/Refund/CardForm/index.js
  packages/pilot/src/containers/TransactionDetails/index.js
  packages/pilot/src/containers/TransactionDetails/style.css
  packages/pilot/src/containers/Withdraw/Confirmation/index.js
  packages/pilot/src/containers/Withdraw/Form/index.js
  packages/pilot/src/containers/Withdraw/Result/index.js
  packages/pilot/src/pages/Anticipation/Anticipation.js
  packages/pilot/src/pages/Anticipation/actions/index.js
  packages/pilot/src/pages/Anticipation/actions/reducer.js
  packages/pilot/src/pages/Anticipation/index.js
  packages/pilot/src/pages/LoggedArea/routes.js
  packages/pilot/src/pages/Transactions/Details/Details.js
  packages/pilot/src/pages/Withdraw/index.js
  packages/pilot/src/pages/actions.js
  packages/pilot/stories/components/DetailsHead/index.js
  packages/pilot/stories/components/Summary/index.js
  packages/pilot/stories/components/TotalDisplay/index.js
  packages/pilot/stories/pages/TransactionDetails/index.js
Labels: bug-fix, devs, pilot

#896 Feature/recipients add confirm step
  packages/pilot/src/containers/AddRecipient/BankAccountStep/AddAccount/index.js
  packages/pilot/src/containers/AddRecipient/BankAccountStep/SelectAccount/index.js
  packages/pilot/src/containers/AddRecipient/BankAccountStep/index.js
  packages/pilot/src/containers/AddRecipient/ConfirmStep/EditButton/index.js
  packages/pilot/src/containers/AddRecipient/ConfirmStep/PartnerInfo/index.js
  packages/pilot/src/containers/AddRecipient/ConfirmStep/ReceiverInfo/index.js
  packages/pilot/src/containers/AddRecipient/ConfirmStep/index.js
  packages/pilot/src/containers/AddRecipient/ConfirmStep/style.css
  packages/pilot/stories/containers/AddRecipient/ConfirmStep/index.js
  packages/pilot/stories/containers/index.js
Labels: devs, pilot, review-needed

#890 Add message component
  packages/pilot/src/components/Message/index.js
  packages/pilot/src/components/Message/style.css
  packages/pilot/stories/components/Message/index.js
  packages/pilot/stories/components/index.js
Labels: devs, pilot, review-needed

#907 Update react-vanilla-form to 0.6.1
  packages/pilot/package.json
  yarn.lock
Labels: devs, review-needed

#912 chore: update former-kit version to 0.9.0
  packages/pilot/package.json
  yarn.lock
Labels: devs, pilot

#911 settings: refactor bank accounts
  packages/pilot/src/containers/Settings/BankAccount/Add/index.js
  packages/pilot/src/containers/Settings/BankAccount/index.js
  packages/pilot/src/containers/Settings/Company/RegisterInfoTab/index.js
  packages/pilot/src/containers/Settings/Company/index.js
  packages/pilot/src/pages/CompanySettings/index.js
Labels: devs, pilot

#910 balance: add handle anticipation cancel
  packages/cockpit/src/balance/data/result.js
  packages/cockpit/src/balance/mocks/dataExpectedResult.json
  packages/cockpit/src/bulkAnticipations/index.js
  packages/cockpit/src/index.js
  packages/pilot/public/locales/pt/translations.json
  packages/pilot/src/containers/Balance/index.js
  packages/pilot/src/containers/Balance/mock.json
  packages/pilot/src/containers/Balance/style.css
  packages/pilot/src/models/bulkAnticipationTypes.js
  packages/pilot/src/pages/Balance/Balance.js
Labels: cockpit, devs, pilot, review-needed
