Repository pagarme/pilot, pull requests merged in 2018-09, with the labels that each got.

#919 Release/v0.5.0
  packages/cockpit/src/balance/data/result.js
  packages/cockpit/src/balance/mocks/dataExpectedResult.json
  packages/cockpit/src/bulkAnticipations/index.js
  packages/cockpit/src/company/info/apiKeys/index.js
  packages/cockpit/src/company/info/apiVersion/index.js
  packages/cockpit/src/company/info/index.js
  packages/cockpit/src/environment.js
  packages/cockpit/src/index.js
  packages/pilot/public/locales/pt/translations.json
  packages/pilot/src/components/ConfigurationCardForm/index.js
  packages/pilot/src/containers/Balance/index.js
  packages/pilot/src/containers/Balance/mock.json
  packages/pilot/src/containers/Balance/style.css
  packages/pilot/src/containers/Settings/BankAccount/Add/index.js
  packages/pilot/src/containers/Settings/BankAccount/Add/style.css
  packages/pilot/src/containers/Settings/BankAccount/Selector/index.js
  packages/pilot/src/containers/Settings/BankAccount/index.js
  packages/pilot/src/containers/Settings/Boleto/Form/index.js
  packages/pilot/src/containers/Settings/Company/GeneralInfoTab/ApiKey/index.js
  packages/pilot/src/containers/Settings/Company/GeneralInfoTab/ApiKey/style.css
  packages/pilot/src/containers/Settings/Company/GeneralInfoTab/index.js
  packages/pilot/src/containers/Settings/Company/ProductInfoTab/index.js
  packages/pilot/src/containers/Settings/Company/RegisterInfoTab/index.js
  packages/pilot/src/containers/Settings/Company/index.js
  packages/pilot/src/models/bulkAnticipationTypes.js
  packages/pilot/src/pages/Balance/Balance.js
  packages/pilot/src/pages/CompanySettings/index.js
  packages/pilot/stories/components/ConfigurationCardForm/index.js
  packages/pilot/stories/components/ConfigurationCardForm/style.css
  packages/pilot/stories/components/index.js
  packages/pilot/stories/containers/Settings/BankAccount/Add/index.js
  packages/pilot/stories/containers/Settings/BankAccount/Selector/index.js
  packages/pilot/stories/containers/Settings/BankAccount/index.js
  packages/pilot/stories/containers/Settings/Boleto/Form.js
  packages/pilot/stories/containers/index.js
Labels: bug-fix, cockpit, devs, pilot

#906 recipient-detail-info: add component
  packages/pilot/src/containers/RecipientDetailInfo/index.js
  packages/pilot/src/containers/RecipientDetailInfo/style.css
  packages/pilot/stories/containers/RecipientDetailInfo/index.js
  packages/pilot/stories/containers/index.js
Labels: devs, pilot

#902 Add/environment button
  .circleci/config.yml
  packages/pilot/public/locales/pt/translations.json
  packages/pilot/src/containers/Header/index.js
  packages/pilot/src/containers/Header/style.css
  packages/pilot/src/environment.js
Labels: devs, pilot, review-needed

#923 anticipations: remove client side filter by status building
  packages/pilot/src/pages/Anticipation/index.js
Labels: devs, pilot, review-needed

#891 Add Self Register Containers - Cadastro
  packages/pilot/public/locales/pt/translations.json
  packages/pilot/src/components/SelfRegister/BulletSteps/index.js
  packages/pilot/src/components/SelfRegister/HeaderImage/cnpj.svg
  packages/pilot/src/components/SelfRegister/HeaderImage/company-data.svg
  packages/pilot/src/components/SelfRegister/HeaderImage/create-account.svg
  packages/pilot/src/components/SelfRegister/HeaderImage/index.js
  packages/pilot/src/components/SelfRegister/HeaderImage/partner-address.svg
  packages/pilot/src/components/SelfRegister/HeaderImage/partner-data.svg
  packages/pilot/src/components/SelfRegister/HeaderImage/without-cnpj.svg
  packages/pilot/src/containers/SelfRegister/CheckCNPJ/index.js
  packages/pilot/src/containers/SelfRegister/CompanyData/index.js
  packages/pilot/src/containers/SelfRegister/CreateAccount/index.js
  packages/pilot/src/containers/SelfRegister/PartnerAddress/index.js
  packages/pilot/src/containers/SelfRegister/PartnerData/index.js
  packages/pilot/src/containers/SelfRegister/TypeCNPJ/index.js
  packages/pilot/src/containers/SelfRegister/WithoutCNPJ/index.js
  packages/pilot/src/containers/SelfRegister/form-mask-field-helpers.js
  packages/pilot/src/containers/SelfRegister/form.js
  packages/pilot/src/containers/SelfRegister/index.js
  packages/pilot/src/containers/SelfRegister/style.css
  packages/pilot/stories/containers/SelfRegister/index.js
  packages/pilot/stories/containers/index.js
Labels: devs, review-needed, uxs

#929 Add Self Register Containers - MQL
  packages/pilot/public/locales/pt/translations.json
  packages/pilot/src/components/SelfRegister/BulletSteps/index.js
  packages/pilot/src/components/SelfRegister/HeaderImage/already-sell.svg
  packages/pilot/src/components/SelfRegister/HeaderImage/business-detail.svg
  packages/pilot/src/components/SelfRegister/HeaderImage/index.js
  packages/pilot/src/components/SelfRegister/HeaderImage/sales-amount.svg
  packages/pilot/src/containers/SelfRegister/AlreadySell/index.js
  packages/pilot/src/containers/SelfRegister/BusinessDetailFuture/index.js
  packages/pilot/src/containers/SelfRegister/BusinessDetailPresent/index.js
  packages/pilot/src/containers/SelfRegister/SalesAmount/index.js
  packages/pilot/src/containers/SelfRegister/form.js
  packages/pilot/src/containers/SelfRegister/index.js
  packages/pilot/src/containers/SelfRegister/platforms.json
  packages/pilot/src/containers/SelfRegister/segments.json
  packages/pilot/stories/containers/SelfRegister/index.js
  packages/pilot/stories/containers/index.js
Labels: devs, review-needed, uxs

#930 Add Self Register Containers - Contract
  packages/pilot/public/locales/pt/translations.json
  packages/pilot/src/components/SelfRegister/BulletSteps/index.js
  packages/pilot/src/components/SelfRegister/HeaderImage/contract.svg
  packages/pilot/src/components/SelfRegister/HeaderImage/index.js
  packages/pilot/src/containers/SelfRegister/Contract/contract.js
  packages/pilot/src/containers/SelfRegister/Contract/index.js
  packages/pilot/src/containers/SelfRegister/form.js
  packages/pilot/src/containers/SelfRegister/style.css
  packages/pilot/stories/containers/SelfRegister/index.js
  packages/pilot/stories/containers/index.js
Labels: devs, review-needed, uxs

#852 MessageActions component
  packages/pilot/src/components/Message/Actions.js
  packages/pilot/src/components/Message/Message.js
  packages/pilot/src/components/Message/index.js
  packages/pilot/src/components/Message/style.css
  packages/pilot/stories/components/Message/index.js
  packages/pilot/stories/components/MessageActions/index.js
  packages/pilot/stories/components/index.js
Labels: devs, pilot, review-needed

#926 currency-input: remove callback on setState
  packages/pilot/src/components/CurrencyInput/index.js
Labels: devs, pilot

#932 Add Self Register Containers - Waiting Creating
  packages/pilot/public/locales/pt/translations.json
  packages/pilot/src/components/SelfRegister/HeaderImage/index.js
  packages/pilot/src/components/SelfRegister/HeaderImage/waiting-risk-analysis.svg
  packages/pilot/src/containers/SelfRegister/Form.js
  packages/pilot/src/containers/SelfRegister/SelfRegisterContainer.js
  packages/pilot/src/containers/SelfRegister/Waiting.js
  packages/pilot/src/containers/SelfRegister/WaitingRiskAnalysis/index.js
  packages/pilot/src/containers/SelfRegister/index.js
  packages/pilot/src/containers/SelfRegister/segments.json
  packages/pilot/src/containers/SelfRegister/style.css
  packages/pilot/stories/containers/SelfRegister/index.js
  packages/pilot/stories/containers/index.js
Labels: devs, review-needed, uxs

#938 chore: add url postfix in circle ci variables
  .circleci/config.yml
Labels: devs, pilot

#935 recipients: add translations
  packages/pilot/public/locales/pt/translations.json
  packages/pilot/src/containers/AddRecipient/BankAccountStep/AddAccount/index.js
  packages/pilot/src/containers/AddRecipient/BankAccountStep/SelectAccount/index.js
  packages/pilot/src/containers/AddRecipient/BankAccountStep/index.js
  packages/pilot/src/containers/AddRecipient/ConclusionStep/index.js
  packages/pilot/src/containers/AddRecipient/ConfigurationStep/index.js
  packages/pilot/src/containers/AddRecipient/ConfirmStep/EditButton/index.js
  packages/pilot/src/containers/AddRecipient/ConfirmStep/PartnerInfo/index.js
  packages/pilot/src/containers/AddRecipient/ConfirmStep/ReceiverInfo/index.js
  packages/pilot/src/containers/AddRecipient/ConfirmStep/index.js
  packages/pilot/src/containers/AddRecipient/ErrorStep/index.js
  packages/pilot/src/containers/AddRecipient/IdentificationStep/index.js
  packages/pilot/src/containers/AddRecipient/index.js
Labels: devs, pilot, review-needed

#922 Refactor/account page
  packages/pilot/public/index.html
  packages/pilot/public/locales/pt/translations.json
  packages/pilot/src/components/Logo/TestLogo.js
  packages/pilot/src/components/Logo/logo.svg
  packages/pilot/src/components/Logo/style.css
  packages/pilot/src/containers/Account/LoginForm/index.js
  packages/pilot/src/containers/Account/PasswordRecovery/Confirmation.js
  packages/pilot/src/containers/Account/PasswordRecovery/Form.js
  packages/pilot/src/containers/Account/Presentation.js
  packages/pilot/src/containers/Account/RegisteredPresentation.js
  packages/pilot/src/containers/Account/SignUp/Confirmation.js
  packages/pilot/src/containers/Account/SignUp/Form.js
  packages/pilot/src/containers/Account/SignUp/InvalidEmailError.js
  packages/pilot/src/containers/Account/UnregisteredPresentation.js
  packages/pilot/src/containers/Account/index.js
  packages/pilot/src/containers/Account/style.css
  packages/pilot/src/pages/Account/Login/index.js
  packages/pilot/src/pages/Account/Presentation.js
  packages/pilot/src/pages/Account/RegisteredPresentation.js
  packages/pilot/src/pages/Account/UnregisteredPresentation.js
  packages/pilot/src/pages/Account/index.js
  packages/pilot/src/pages/LoggedArea/Sidebar.js
  packages/pilot/src/pages/Root.js
  packages/pilot/stories/pages/Landing/index.js
Labels: devs, pilot, review-needed

#931 self-register: add container refused account
  packages/pilot/public/locales/pt/translations.json
  packages/pilot/src/components/SelfRegister/HeaderImage/index.js
  packages/pilot/src/components/SelfRegister/HeaderImage/refused-account.svg
  packages/pilot/src/containers/SelfRegister/RefusedAccount/index.js
  packages/pilot/src/containers/SelfRegister/SelfRegisterContainer.js
  packages/pilot/src/containers/SelfRegister/Waiting.js
  packages/pilot/src/containers/SelfRegister/index.js
  packages/pilot/stories/containers/SelfRegister/index.js
  packages/pilot/stories/containers/index.js
Labels: devs, pilot, review-needed

#940 account: add base to login stories
  packages/pilot/stories/pages/Landing/index.js
Labels: bug-fix, devs

#933 recipient-config: add container
  packages/pilot/public/locales/pt/translations.json
  packages/pilot/src/containers/AddRecipient/BankAccountStep/AddAccount/AddAccountContent.js
  packages/pilot/src/containers/AddRecipient/BankAccountStep/AddAccount/index.js
  packages/pilot/src/containers/AddRecipient/BankAccountStep/SelectAccount/SelectAccountContent.js
  packages/pilot/src/containers/AddRecipient/BankAccountStep/SelectAccount/index.js
  packages/pilot/src/containers/AddRecipient/ConfigurationStep/Anticipation/index.js
  packages/pilot/src/containers/AddRecipient/ConfigurationStep/Transfer/index.js
  packages/pilot/src/containers/AddRecipient/ConfigurationStep/index.js
  packages/pilot/src/containers/RecipientDetails/Config/AnticipationContent/index.js
  packages/pilot/src/containers/RecipientDetails/Config/BankAccount32.svg
  packages/pilot/src/containers/RecipientDetails/Config/BankAccountContent/index.js
  packages/pilot/src/containers/RecipientDetails/Config/RecipientItem/index.js
  packages/pilot/src/containers/RecipientDetails/Config/TransferContent/index.js
  packages/pilot/src/containers/RecipientDetails/Config/contentIds.js
  packages/pilot/src/containers/RecipientDetails/Config/index.js
  packages/pilot/src/containers/RecipientDetails/Config/style.css
  packages/pilot/stories/containers/RecipientDetails/Config/index.js
  packages/pilot/stories/containers/index.js
Labels: devs, pilot

#934 Add/google tag manager
  packages/pilot/public/index.html
  packages/pilot/src/pages/Account/actions/epic.js
Labels: devs, pilot, review-needed

#927 chore: update storybook version
  packages/pilot/.storybook/addons.js
  packages/pilot/.storybook/config.js
  packages/pilot/package.json
  packages/pilot/stories/components/index.js
  packages/pilot/stories/containers/index.js
  packages/pilot/stories/pages/Landing/index.js
  packages/pilot/stories/pages/TransactionDetails/index.js
  yarn.lock
Labels: devs, pilot, review-needed

#946 pilot: add self register validations
  packages/pilot/public/locales/pt/translations.json
  packages/pilot/src/containers/SelfRegister/CompanyData/index.js
  packages/pilot/src/containers/SelfRegister/CreateAccount/index.js
  packages/pilot/src/containers/SelfRegister/PartnerAddress/index.js
  packages/pilot/src/containers/SelfRegister/PartnerData/index.js
  packages/pilot/src/containers/SelfRegister/TypeCNPJ/index.js
  packages/pilot/src/containers/Settings/Company/TeamInfoTab/TeamManagement/AddNewUserModal.js
  packages/pilot/src/validation/cep.js
  packages/pilot/src/validation/cnpj.js
  packages/pilot/src/validation/cpf.js
  packages/pilot/src/validation/date.js
  packages/pilot/src/validation/email.js
  packages/pilot/src/validation/legalAge.js
  packages/pilot/src/validation/phone.js
Labels: devs, pilot, review-needed

#948 pilot: remove self register partner email
  packages/pilot/public/locales/pt/translations.json
  packages/pilot/src/containers/SelfRegister/PartnerData/index.js
Labels: devs, pilot, review-needed

#977 chore: update former-kit version to 0.10.0
  packages/pilot/package.json
  yarn.lock
Labels: devs, review-needed
