Repository pagarme/pilot, pull requests merged in 2018-04, with the labels that each got.

#449 add: first deploy process in ci/cd
  .circleci/config.yml
  packages/pilot/package.json
Labels: review-needed

#471 pending-requests: add component
  packages/pilot/src/components/PendingRequests/index.js
  packages/pilot/src/components/PendingRequests/style.css
  packages/pilot/stories/components/PendingRequests/index.js
  packages/pilot/stories/components/index.js
Labels: pilot, review-needed

#476 Add balance operations table
  packages/pilot/src/components/Operations/index.js
  packages/pilot/src/components/Operations/operationsTableColumns.js
  packages/pilot/src/components/Operations/style.css
  packages/pilot/src/components/TransactionHead/style.css
  packages/pilot/src/models/operationTypes.js
  packages/pilot/stories/components/Operations/index.js
  packages/pilot/stories/components/Operations/mock.json
  packages/pilot/stories/components/index.js
Labels: devs, pilot, review-needed

#470 balance-display: add component
  packages/pilot/src/components/BalanceTotalDisplay/index.js
  packages/pilot/src/components/BalanceTotalDisplay/style.css
  packages/pilot/stories/components/BalanceTotalDisplay/index.js
  packages/pilot/stories/components/index.js
Labels: pilot, review-needed

#477 balance-summary: add component
  packages/pilot/src/components/BalanceSummary/index.js
  packages/pilot/src/components/BalanceSummary/style.css
  packages/pilot/src/components/TotalDisplay/index.js
  packages/pilot/src/components/TotalDisplay/style.css
  packages/pilot/src/containers/TransactionDetails/index.js
  packages/pilot/stories/components/BalanceSummary/index.js
  packages/pilot/stories/components/index.js
Labels: pilot, review-needed

#478 balance-summary: refactor amount prop to array
  packages/pilot/src/components/BalanceSummary/index.js
  packages/pilot/stories/components/BalanceSummary/index.js
Labels: pilot, review-needed

#489 balance-summary: fix date props validation
  packages/pilot/src/components/BalanceSummary/index.js
  packages/pilot/stories/components/BalanceSummary/index.js
Labels: pilot, review-needed

#490 total-display: refactor render values
  packages/pilot/src/components/TotalDisplay/index.js
Labels: pilot, review-needed

#488 transactions: fix prop unit name
  packages/pilot/src/components/TotalDisplay/index.js
  packages/pilot/src/containers/TransactionDetails/index.js
  packages/pilot/stories/components/TotalDisplay/index.js
Labels: pilot, review-needed

#485 transactions: fix rows state on query update
  packages/pilot/src/pages/Transactions/Search/Search.js
Labels: pilot, review-needed

#494 balance-summary: fix prop validation warnings
  packages/pilot/src/components/BalanceSummary/index.js
  packages/pilot/src/components/BalanceSummary/style.css
Labels: pilot, review-needed

#495 actions: add disabled prop to components
  packages/pilot/src/components/BalanceTotalDisplay/index.js
  packages/pilot/src/components/DetailsHead/index.js
Labels: pilot, review-needed

#486 transactions: fix range date label
  packages/pilot/public/locales/pt/transactions.json
  packages/pilot/src/containers/TransactionsList/index.js
Labels: pilot, review-needed

#493 Release v0.1.2
  packages/cockpit/config/jest/createJestConfig.js
  packages/cockpit/config/jest/setupTests.js
  packages/cockpit/package.json
  packages/cockpit/src/transactions/details/mocks/expectedResultBoleto.json
  packages/cockpit/src/transactions/details/mocks/expectedResultMock.json
  packages/cockpit/src/transactions/details/result.js
  packages/cockpit/src/transactions/details/result.test.js
  packages/cockpit/src/transactions/search/result.test.js
  packages/cockpit/src/transactions/shared/index.js
  packages/pilot/public/locales/pt/transactions.json
  packages/pilot/src/components/TotalDisplay/index.js
  packages/pilot/src/containers/TransactionDetails/index.js
  packages/pilot/src/containers/TransactionsList/index.js
  packages/pilot/src/pages/Transactions/Search/Search.js
  packages/pilot/stories/components/TotalDisplay/index.js
  yarn.lock
Labels: devs, in progress, pilot

#497 pending-requests: refactor columns render
  packages/pilot/src/components/PendingRequests/index.js
Labels: pilot, review-needed

#487 sidebar: fix sidebar active status check
  packages/pilot/src/containers/Sidebar.js
Labels: review-needed

#501 cockpit: add proxy fallback
  packages/cockpit/src/index.js
  packages/cockpit/src/proxy.js
  packages/cockpit/src/proxy.test.js
  packages/pilot/src/pages/Account/actions/epic.js
  packages/pilot/src/pages/Transactions/Details/Details.js
  packages/pilot/src/pages/Transactions/Search/Search.js
Labels: cockpit, devs, review-needed

#507 details-head: refactor transactions-head component
  packages/pilot/package.json
  packages/pilot/src/components/DetailsHead/index.js
  packages/pilot/src/components/DetailsHead/style.css
  packages/pilot/src/components/TransactionHead/index.js
  packages/pilot/src/components/TransactionHead/style.css
  packages/pilot/src/containers/TransactionDetails/index.js
  packages/pilot/stories/components/DetailsHead/index.js
  packages/pilot/stories/components/index.js
  packages/pilot/stories/pages/TransactionDetails/index.js
  packages/pilot/stories/pages/TransactionDetails/transactionMock.js
  yarn.lock
Labels: devs, review-needed

#509 Add company to redux state
  packages/pilot/src/pages/Account/actions/epic.js
  packages/pilot/src/pages/Account/actions/index.js
  packages/pilot/src/pages/Account/actions/reducer.js
  packages/pilot/src/pages/Root.js
Labels: devs, in progress, review-needed

#537 docs: fix url link at readme
  README.md
Labels: in progress

#540 total-display: remove card content from component
  packages/pilot/src/components/TotalDisplay/index.js
  packages/pilot/src/components/TotalDisplay/style.css
  packages/pilot/src/containers/TransactionDetails/index.js
  packages/pilot/src/containers/TransactionDetails/style.css
Labels: devs, pilot, review-needed

#551 Fix environment decision
  packages/pilot/src/environment.js
Labels: in progress

#559 Fix refunded status
  packages/pilot/src/models/transactionFilterOptions/transactionStatus.js
Labels: devs, pilot, review-needed

#563 Release Versão 0.1.3
  .circleci/config.yml
  packages/cockpit/src/transactions/details/mocks/expectedResultBoleto.json
  packages/cockpit/src/transactions/details/mocks/expectedResultMock.json
  packages/cockpit/src/transactions/details/result.js
  packages/pilot/public/index.html
  packages/pilot/public/locales/pt/transactions.json
  packages/pilot/src/containers/TransactionDetails/index.js
  packages/pilot/src/containers/TransactionsList/index.js
  packages/pilot/src/environment.js
  packages/pilot/src/models/transactionFilterOptions/transactionStatus.js
  packages/pilot/src/models/transactionOperationTypes.js
  packages/pilot/src/pages/Account/actions/epic.js
Labels: beta, cockpit, pilot

#566 fix: change order in command aws s3 sync
  .circleci/config.yml
Labels: review-needed
