Repository pagarme/pilot, pull requests merged in 2018-06, with the labels that each got.

#667 Bump former kit
  packages/pilot/package.json
  yarn.lock
Labels: devs, pilot, review-needed

#668 Release v0.1.4
  .circleci/config.yml
  packages/cockpit/src/transactions/countPendingReviews/index.js
  packages/cockpit/src/transactions/countPendingReviews/query.js
  packages/cockpit/src/transactions/countPendingReviews/result.js
  packages/cockpit/src/transactions/countPendingReviews/result.test.js
  packages/cockpit/src/transactions/details/index.js
  packages/cockpit/src/transactions/details/mocks/expectedResultAntifraud.json
  packages/cockpit/src/transactions/details/mocks/expectedResultBoleto.json
  packages/cockpit/src/transactions/details/mocks/expectedResultMock.json
  packages/cockpit/src/transactions/details/mocks/fromRequests.json
  packages/cockpit/src/transactions/details/mocks/fromRequestsAntifraud.json
  packages/cockpit/src/transactions/details/result.js
  packages/cockpit/src/transactions/details/result.test.js
  packages/cockpit/src/transactions/index.js
  packages/cockpit/src/transactions/shared/index.js
  packages/pilot/package.json
  packages/pilot/public/locales/pt/transactions.json
  packages/pilot/public/locales/pt/translations.json
  packages/pilot/src/components/Event/index.js
  packages/pilot/src/components/Event/style.css
  packages/pilot/src/components/RiskLevel/index.js
  packages/pilot/src/components/RiskLevel/style.css
  packages/pilot/src/containers/Account/Login/index.js
  packages/pilot/src/containers/ManualReview/Form/index.js
  packages/pilot/src/containers/ManualReview/Form/style.css
  packages/pilot/src/containers/ManualReview/Result/index.js
  packages/pilot/src/containers/ManualReview/Result/style.css
  packages/pilot/src/containers/ManualReview/index.js
  packages/pilot/src/containers/TransactionDetails/index.js
  packages/pilot/src/containers/TransactionsList/Charts.js
  packages/pilot/src/containers/TransactionsList/index.js
  packages/pilot/src/containers/TransactionsList/style.css
  packages/pilot/src/models/statusLegends.js
  packages/pilot/src/models/transactionOperationTypes.js
  packages/pilot/src/pages/Account/Login/buildParamErrors.js
  packages/pilot/src/pages/Account/Login/index.js
  packages/pilot/src/pages/Account/actions/reducer.js
  packages/pilot/src/pages/ManualReview/index.js
  packages/pilot/src/pages/Root.js
  packages/pilot/src/pages/Transactions/Details/Details.js
  packages/pilot/src/pages/Transactions/Search/Search.js
  packages/pilot/stories/components/EventList/index.js
  packages/pilot/stories/components/RiskLevel/index.js
  packages/pilot/stories/components/index.js
  packages/pilot/stories/containers/ManualReview/Form/index.js
  packages/pilot/stories/containers/ManualReview/Result/index.js
  packages/pilot/stories/containers/ManualReview/index.js
  packages/pilot/stories/containers/index.js
  packages/pilot/stories/pages/TransactionDetails/index.js
  packages/pilot/stories/pages/TransactionDetails/transactionMock.js
  yarn.lock
Labels: devs, review-needed

#688 transaction-details: fix recipient-card component
  packages/pilot/src/components/RecipientCard/index.js
  packages/pilot/src/components/RecipientCard/style.css
Labels: devs, review-needed

#689 transactions: add copy-button with feedback text
  packages/pilot/public/locales/pt/transactions.json
  packages/pilot/src/components/PaymentBoleto/index.js
  packages/pilot/src/containers/TransactionDetails/index.js
  packages/pilot/src/pages/Transactions/Details/Details.js
  packages/pilot/stories/components/PaymentCards/index.js
Labels: devs, review-needed

#711 withdraw: fix alert type
  packages/pilot/src/containers/Withdraw/Result/index.js
  packages/pilot/src/pages/Withdraw/index.js
  packages/pilot/stories/containers/Withdraw/Result/Error.js
Labels: devs, pilot, v0.2.0-rc6

#713 refactor withdraw container step status
  packages/pilot/public/locales/pt/translations.json
  packages/pilot/src/containers/Withdraw/index.js
Labels: devs, pilot, review-needed, v0.2.0-rc6

#714 withdraw: fix error alignment
  packages/pilot/src/containers/Withdraw/Result/style.css
Labels: devs, pilot, v0.2.0-rc7

#715 withdraw-form: fix input errors
  packages/pilot/public/locales/pt/translations.json
  packages/pilot/src/containers/Withdraw/Form/index.js
Labels: devs, pilot, review-needed, v0.2.0-rc8

#716 Fix filter tags behaviour
  packages/pilot/src/containers/Filter/index.js
  packages/pilot/src/pages/Transactions/Search/Search.js
Labels: devs, review-needed, v0.2.0-rc8

#723 summary: refactor component
  packages/pilot/src/components/Summary/index.js
  packages/pilot/src/components/Summary/style.css
  packages/pilot/src/containers/Withdraw/Confirmation/index.js
  packages/pilot/src/containers/Withdraw/Form/index.js
  packages/pilot/src/containers/Withdraw/Result/index.js
  packages/pilot/src/containers/Withdraw/Summary/index.js
  packages/pilot/stories/components/Summary/index.js
  packages/pilot/stories/components/index.js
  packages/pilot/stories/containers/Withdraw/Summary/index.js
  packages/pilot/stories/containers/index.js
Labels: devs, pilot, review-needed

#733 cockpit: fix customer address in transaction
  packages/cockpit/src/transactions/details/mocks/expectedResultAntifraud.json
  packages/cockpit/src/transactions/details/mocks/expectedResultBoleto.json
  packages/cockpit/src/transactions/search/result.test.js
  packages/cockpit/src/transactions/shared/index.js
Labels: cockpit, devs, v0.2.0-rc9

#735 cockpit: fix antifraud analysis status
  packages/cockpit/src/transactions/details/result.js
Labels: bug-fix, cockpit, review-needed, v0.2.0-rc9

#753 data-display: add align prop
  packages/pilot/src/components/DataDisplay/index.js
  packages/pilot/src/components/DataDisplay/style.css
  packages/pilot/src/components/TotalDisplay/index.js
  packages/pilot/stories/components/DataDisplay/index.js
  packages/pilot/stories/components/TotalDisplay/index.js
Labels: devs, pilot, review-needed

#760 Release v0.2.1
  packages/pilot/public/locales/pt/translations.json
  packages/pilot/src/containers/ManualReview/Result/index.js
  packages/pilot/src/containers/TransactionsList/index.js
  packages/pilot/src/pages/Transactions/Search/Search.js
Labels: devs, pilot, review-needed

#739 anticipation-confirmation: add component
  packages/pilot/src/containers/Anticipation/Confirmation/index.js
  packages/pilot/src/containers/Anticipation/Confirmation/style.css
  packages/pilot/stories/containers/Anticipation/Confirmation/index.js
  packages/pilot/stories/containers/index.js
Labels: devs, pilot, review-needed
