Repository pagarme/pilot, pull requests merged in 2018-10, with the labels that each got.

#985 update react-scripts-former-kit to 0.1.2
  packages/pilot/package.json
  packages/pilot/src/components/PaymentCard/style.css
  packages/pilot/src/components/PendingRequests/style.css
  packages/pilot/src/containers/Account/style.css
  yarn.lock
Labels: bug-fix, devs, pilot, review-needed

#986 Adiciona campos de dígitos verificadores
  packages/cockpit/src/recipient/account/formatBankAccount.js
  packages/cockpit/src/recipient/account/mocks/afterFormat.json
  packages/cockpit/src/recipient/account/mocks/beforeFormat.json
  packages/cockpit/src/recipient/add/formatToRecipient.js
  packages/cockpit/src/recipient/add/mocks/afterFormat.json
  packages/cockpit/src/recipient/add/mocks/beforeFormat.json
  packages/pilot/public/locales/pt/translations.json
  packages/pilot/src/containers/AddRecipient/BankAccountStep/AddAccount/AddAccountContent.js
  packages/pilot/src/containers/AddRecipient/BankAccountStep/AddAccount/index.js
  packages/pilot/src/containers/AddRecipient/BankAccountStep/SelectAccount/index.js
  packages/pilot/src/containers/AddRecipient/BankAccountStep/index.js
  packages/pilot/src/containers/AddRecipient/ConfirmStep/index.js
  packages/pilot/src/containers/RecipientDetails/Config/index.js
  packages/pilot/src/containers/RecipientDetails/Info/index.js
  packages/pilot/stories/containers/AddRecipient/BankAccountStep/SelectAccount/index.js
  packages/pilot/stories/containers/AddRecipient/BankAccountStep/index.js
  packages/pilot/stories/containers/AddRecipient/ConfirmStep/index.js
  packages/pilot/stories/containers/RecipientDetails/Config/index.js
  packages/pilot/stories/containers/RecipientDetails/Info/index.js
  packages/pilot/stories/containers/RecipientDetails/index.js
Labels: cockpit, devs, pilot

#989 TransactionDetails: fix Alert grid
  packages/pilot/src/containers/TransactionDetails/index.js
Labels: bug-fix, devs, pilot

#983 Correções para o primeiro passo de Adicionar Recebedor
  packages/cockpit/src/recipient/add/formatToRecipient.js
  packages/pilot/public/locales/pt/translations.json
  packages/pilot/src/containers/AddRecipient/ConfirmStep/ReceiverInfo/index.js
  packages/pilot/src/containers/AddRecipient/IdentificationStep/index.js
  packages/pilot/src/containers/AddRecipient/IdentificationStep/style.css
  packages/pilot/src/validation/protocol.js
Labels: devs, pilot

#978 transaction: remove duplicated bind in Search
  packages/pilot/src/pages/Transactions/Search/Search.js
Labels: devs, pilot, review-needed

#971 chore: add .editorconfig to rule them all
  .editorconfig
Labels: cockpit, devs, pilot, review-needed

#994 phone: fix validation
  packages/pilot/src/validation/phone.js
Labels: pilot, review-needed

#991 Release/v0.6.0
  .circleci/config.yml
  packages/pilot/.storybook/addons.js
  packages/pilot/.storybook/config.js
  packages/pilot/package.json
  packages/pilot/public/index.html
  packages/pilot/public/locales/pt/translations.json
  packages/pilot/src/components/CurrencyInput/index.js
  packages/pilot/src/components/Logo/TestLogo.js
  packages/pilot/src/components/Logo/logo.svg
  packages/pilot/src/components/Logo/style.css
  packages/pilot/src/components/PaymentBoleto/index.js
  packages/pilot/src/components/PaymentBoleto/style.css
  packages/pilot/src/components/PaymentCard/index.js
  packages/pilot/src/components/PaymentCard/style.css
  packages/pilot/src/containers/Account/LoginForm/index.js
  packages/pilot/src/containers/Account/PasswordRecovery/Confirmation.js
  packages/pilot/src/containers/Account/PasswordRecovery/Form.js
  packages/pilot/src/containers/Account/Presentation.js
  packages/pilot/src/containers/Account/RegisteredPresentation.js
  packages/pilot/src/containers/Account/SignUp/Confirmation.js
  packages/pilot/src/containers/Account/SignUp/Form.js
  packages/pilot/src/containers/Account/SignUp/InvalidEmailError.js
  packages/pilot/src/containers/Account/UnregisteredPresentation.js
  packages/pilot/src/containers/Account/index.js
  packages/pilot/src/containers/Account/style.css
  packages/pilot/src/containers/Header/index.js
  packages/pilot/src/containers/Header/style.css
  packages/pilot/src/containers/TransactionDetails/index.js
  packages/pilot/src/environment.js
  packages/pilot/src/pages/Account/Login/index.js
  packages/pilot/src/pages/Account/Presentation.js
  packages/pilot/src/pages/Account/RegisteredPresentation.js
  packages/pilot/src/pages/Account/UnregisteredPresentation.js
  packages/pilot/src/pages/Account/actions/epic.js
  packages/pilot/src/pages/Account/index.js
  packages/pilot/src/pages/Anticipation/index.js
  packages/pilot/src/pages/LoggedArea/Sidebar.js
  packages/pilot/src/pages/Root.js
  packages/pilot/src/pages/Transactions/Search/Search.js
  packages/pilot/src/vendor/appcues.js
  packages/pilot/src/vendor/fullStory.js
  packages/pilot/src/vendor/googleTagManager.js
  packages/pilot/src/vendor/hasProperty.js
  packages/pilot/src/vendor/identifyUser.js
  packages/pilot/src/vendor/setCompany.js
  packages/pilot/stories/components/index.js
  packages/pilot/stories/containers/index.js
  packages/pilot/stories/pages/Landing/index.js
  packages/pilot/stories/pages/TransactionDetails/index.js
  yarn.lock
Labels: bug-fix, devs, pilot, review-needed

#995 Add term_version parameter
  packages/cockpit/src/company/register/index.js
Labels: cockpit, devs, review-needed

#981 add-transaction: add clientForm component
  packages/pilot/package.json
  packages/pilot/src/components/ClientForm/index.js
  packages/pilot/src/components/ClientForm/style.css
  packages/pilot/src/validation/cnpj.js
  packages/pilot/src/validation/cpf.js
  packages/pilot/src/validation/email.js
  packages/pilot/src/validation/phone.js
  packages/pilot/stories/components/ClientForm/index.js
  packages/pilot/stories/components/index.js
  yarn.lock
Labels: devs, pilot, review-needed

#987 add-transaction: add customer selection list
  packages/pilot/src/components/CustomerSelection/index.js
  packages/pilot/src/formatters/phone.js
  packages/pilot/stories/components/CustomerSelection/index.js
  packages/pilot/stories/components/index.js
Labels: devs, pilot, review-needed

#1004 Mensagens de Erro mais Descritivas no Adicionar Recebedor
  packages/pilot/public/locales/pt/translations.json
  packages/pilot/src/containers/AddRecipient/ConfigurationStep/Anticipation/index.js
  packages/pilot/src/containers/AddRecipient/ConfigurationStep/index.js
  packages/pilot/src/containers/AddRecipient/ErrorStep/ErrorButtons.js
  packages/pilot/src/containers/AddRecipient/ErrorStep/ErrorMessage.js
  packages/pilot/src/containers/AddRecipient/ErrorStep/index.js
  packages/pilot/src/containers/AddRecipient/index.js
  packages/pilot/src/formatters/errorType.js
  packages/pilot/src/pages/Recipients/Add/Add.js
  packages/pilot/stories/containers/AddRecipient/ErrorStep/index.js
  packages/pilot/stories/containers/AddRecipient/index.js
  packages/pilot/stories/containers/AddRecipient/mocks.js
  packages/pilot/stories/containers/index.js
Labels: devs, pilot, review-needed

#1016 create-company: remove should_activate parameter
  packages/cockpit/src/company/register/index.js
Labels: cockpit, review-needed

#1018 self-register: remove translate function
  packages/pilot/stories/containers/SelfRegister/index.js
Labels: pilot

#1022 company-register: format phone number
  packages/cockpit/src/company/register/index.js
Labels: bug-fix, cockpit, review-needed

#1024 self-register: add feature flag to enable self register route
  packages/pilot/src/pages/Root.js
Labels: devs, pilot, review-needed

#1028 Correções de erros e melhorias no README
  README.md
Labels: devs, pilot, review-needed

#1008 add list products component
  packages/pilot/src/containers/CreateTransaction/Products/ErrorIcon.svg
  packages/pilot/src/containers/CreateTransaction/Products/List.js
  packages/pilot/src/containers/CreateTransaction/Products/style.css
  packages/pilot/stories/components/ProductsList/List.js
  packages/pilot/stories/components/ProductsList/index.js
  packages/pilot/stories/components/index.js
Labels: devs, pilot, review-needed
