Repository pagarme/pilot, pull requests merged in 2018-05, with the labels that each got.

#570 copy-button: add component
  packages/pilot/src/components/CopyButton/index.js
  packages/pilot/stories/components/CopyButton/index.js
  packages/pilot/stories/components/index.js
Labels: devs, review-needed

#575 Refactor copy button interface
  packages/pilot/src/components/CopyButton/index.js
  packages/pilot/stories/components/CopyButton/index.js
Labels: devs, review-needed

#596 Add DataDisplay component
  packages/pilot/src/components/DataDisplay/index.js
  packages/pilot/src/components/DataDisplay/style.css
  packages/pilot/src/components/TotalDisplay/index.js
  packages/pilot/src/components/TotalDisplay/style.css
  packages/pilot/stories/components/DataDisplay/index.js
  packages/pilot/stories/components/index.js
Labels: devs, review-needed

#628 transaction: add pending_review status
  packages/pilot/src/models/statusLegends.js
  packages/pilot/src/models/transactionFilterOptions/transactionStatus.js
Labels: devs, pilot, review-needed

#599 Refactor operations
  packages/cockpit/src/transactions/details/mocks/expectedResultMock.json
  packages/cockpit/src/transactions/details/mocks/fromRequests.json
  packages/cockpit/src/transactions/details/result.js
  packages/pilot/src/models/transactionOperationTypes.js
Labels: cockpit, devs, pilot, review-needed

#632 Add review step to transaction details
  packages/cockpit/src/transactions/details/index.js
  packages/cockpit/src/transactions/details/mocks/expectedResultAntifraud.json
  packages/cockpit/src/transactions/details/mocks/fromRequestsAntifraud.json
  packages/cockpit/src/transactions/details/result.js
  packages/cockpit/src/transactions/details/result.test.js
  packages/pilot/src/models/transactionOperationTypes.js
  packages/pilot/stories/pages/TransactionDetails/transactionMock.js
Labels: cockpit, devs, pilot, review-needed

#633 event: fix render details
  packages/pilot/src/components/Event/index.js
  packages/pilot/src/components/Event/style.css
  packages/pilot/stories/components/EventList/index.js
Labels: devs, pilot, review-needed

#613 Add network error handling to login
  packages/pilot/public/locales/pt/translations.json
  packages/pilot/src/containers/Account/Login/index.js
  packages/pilot/src/pages/Account/Login/buildParamErrors.js
  packages/pilot/src/pages/Account/Login/index.js
  packages/pilot/src/pages/Account/actions/reducer.js
Labels: devs, pilot

#631 Refactor various leaking margins on shared components
  packages/pilot/src/components/DataDisplay/style.css
  packages/pilot/src/components/DetailsHead/index.js
  packages/pilot/src/components/DetailsHead/style.css
  packages/pilot/src/components/TotalDisplay/style.css
  packages/pilot/src/containers/TransactionDetails/index.js
Labels: devs, pilot
