Repository pagarme/pilot, pull requests merged in 2018-07, with the labels that each got.

#755 static: remove hotjar
  packages/pilot/public/index.html
Labels: devs, pilot, review-needed

#756 Fix transactions labels
  packages/pilot/public/locales/pt/translations.json
  packages/pilot/src/containers/TransactionsList/tableColumns.js
  packages/pilot/src/formatters/paymentMethod.js
  packages/pilot/src/pages/Transactions/Search/transactionsTableColumns.js
Labels: devs, pilot, review-needed

#776 chore: update former-kit and skin to 0.7.0
  packages/pilot/package.json
  yarn.lock
Labels: devs, review-needed

#763 withdraw: fix negative transfer value message
  packages/pilot/public/locales/pt/translations.json
Labels: devs, pilot, review-needed

#778 Filter: fix children map
  packages/pilot/src/containers/Filter/index.js
Labels: devs, pilot, review-needed

#783 package: update emblematic icons
  packages/pilot/package.json
  yarn.lock
Labels: devs, pilot, review-needed

#780 sidebar: add button to the old dashboard
  packages/pilot/src/containers/Sidebar.js
Labels: devs, review-needed

#737 sidebar: add summary and sections
  packages/pilot/public/locales/pt/translations.json
  packages/pilot/src/components/SidebarSections/index.js
  packages/pilot/src/components/SidebarSections/style.css
  packages/pilot/src/components/SidebarSummary/index.js
  packages/pilot/src/components/SidebarSummary/style.css
  packages/pilot/src/containers/Sidebar.js
  packages/pilot/src/pages/Account/actions/epic.js
  packages/pilot/src/pages/Account/actions/index.js
  packages/pilot/src/pages/Account/actions/reducer.js
  packages/pilot/src/pages/LoggedArea/Sidebar.js
  packages/pilot/src/pages/LoggedArea/index.js
  packages/pilot/src/pages/LoggedArea/routes.js
  packages/pilot/src/pages/Withdraw/actions/index.js
  packages/pilot/src/pages/Withdraw/index.js
  packages/pilot/stories/components/SidebarSections/index.js
  packages/pilot/stories/components/SidebarSummary/index.js
  packages/pilot/stories/components/index.js
Labels: devs, pilot, review-needed

#614 Add extended release explanation
  CONTRIBUTING.md
  README.md
Labels: devs, pilot, review-needed

#819 configurations: add configuration card form
  packages/pilot/src/components/ConfigurationCardForm/index.js
  packages/pilot/stories/components/ConfigurationCardForm/index.js
  packages/pilot/stories/components/ConfigurationCardForm/style.css
  packages/pilot/stories/components/index.js
Labels: devs, review-needed

#806 Fix warnigs components
  packages/pilot/src/components/TotalDisplay/index.js
Labels: devs, review-needed

#810 fix/translations
  packages/pilot/public/locales/pt/translations.json
  packages/pilot/src/containers/Settings/Company/RegisterInfoTab/CompanyAccountManager/CompanyAccountManagerForm.js
  packages/pilot/src/containers/Settings/Company/RegisterInfoTab/CompanyAccountManager/index.js
  packages/pilot/src/containers/Settings/Company/RegisterInfoTab/CompanyAddress/CompanyAddressForm.js
  packages/pilot/src/containers/Settings/Company/RegisterInfoTab/CompanyGeneral/CompanyGeneralForm.js
  packages/pilot/src/containers/Settings/Company/RegisterInfoTab/index.js
  packages/pilot/src/containers/Settings/Company/TeamInfoTab/TeamManagement/AddNewUserModal.js
  packages/pilot/src/containers/Settings/Company/TeamInfoTab/TeamManagement/index.js
  packages/pilot/src/containers/Settings/User/passwordRedefinitionForm.js
Labels: devs, review-needed

#825 settings: add boleto form container
  packages/pilot/public/locales/pt/translations.json
  packages/pilot/src/components/ConfigurationCardForm/index.js
  packages/pilot/src/containers/Settings/Boleto/Form/index.js
  packages/pilot/stories/components/ConfigurationCardForm/index.js
  packages/pilot/stories/containers/Settings/Boleto/Form.js
  packages/pilot/stories/containers/index.js
Labels: devs, pilot, review-needed

#800 recipient: add bank account step
  packages/pilot/src/containers/AddRecipient/BankAccountStep/AddAccount/index.js
  packages/pilot/src/containers/AddRecipient/BankAccountStep/SelectAccount/index.js
  packages/pilot/src/containers/AddRecipient/BankAccountStep/index.js
  packages/pilot/src/containers/AddRecipient/BankAccountStep/style.css
  packages/pilot/stories/containers/AddRecipient/BankAccountStep/AddAccount/index.js
  packages/pilot/stories/containers/AddRecipient/BankAccountStep/SelectAccount/index.js
  packages/pilot/stories/containers/AddRecipient/BankAccountStep/index.js
  packages/pilot/stories/containers/index.js
Labels: devs, feature, pilot, review-needed

#848 Release/v0.3.1
  packages/cockpit/src/balance/data/index.js
  packages/cockpit/src/balance/data/result.js
  packages/cockpit/src/balance/data/result.test.js
  packages/cockpit/src/balance/index.js
  packages/cockpit/src/balance/mocks/dataExpectedResult.json
  packages/cockpit/src/balance/mocks/dataFromRequestsMock.json
  packages/cockpit/src/balance/mocks/totalExpectedResult.json
  packages/cockpit/src/balance/mocks/totalFromRequestsMock.json
  packages/cockpit/src/balance/total/index.js
  packages/cockpit/src/balance/total/result.js
  packages/cockpit/src/balance/total/result.test.js
  packages/pilot/package.json
  packages/pilot/public/locales/pt/translations.json
  packages/pilot/src/components/BalanceSummary/index.js
  packages/pilot/src/containers/Balance/index.js
  packages/pilot/src/containers/Header/index.js
  packages/pilot/src/containers/Header/style.css
  packages/pilot/src/pages/Balance/Balance.js
  packages/pilot/stories/containers/Balance/index.js
  yarn.lock
Labels: bug-fix, cockpit, devs, pilot, review-needed, v0.3.1
