Repository pagarme/pilot, pull requests merged in 2019-12, with the labels that each got.

#1504 Add new banks
  packages/pilot/public/locales/pt/translations.json
  packages/pilot/src/models/banks.js
Labels: bug-fix, cos:expedite, pilot

#1519 Release v0.21.4
  packages/cockpit/src/balance/mocks/operation/expected.json
  packages/cockpit/src/balance/mocks/operations/expected.json
  packages/cockpit/src/balance/mocks/payables/expected.json
  packages/cockpit/src/balance/operations/operations.js
  packages/cockpit/src/balance/operations/operations.test.js
  packages/cockpit/src/balance/operations/shared.js
  packages/pilot/src/components/Operations/operationsTableColumns.js
Labels: bug-fix, cockpit, cos:expedite, pilot

#1532 Release v0.21.5
  packages/pilot/package.json
  packages/pilot/public/locales/pt/translations.json
  packages/pilot/src/components/DetailsHead/style.css
  packages/pilot/src/components/Event/index.js
  packages/pilot/src/components/Event/style.css
  packages/pilot/src/components/MetricChart/charts/RadialChart/index.js
  packages/pilot/src/components/MetricChart/charts/RadialChart/style.css
  packages/pilot/src/components/MetricList/style.css
  packages/pilot/src/containers/Home/Header.js
  packages/pilot/src/containers/Home/style.css
  packages/pilot/src/containers/TransactionDetails/AlertInfo/index.js
  packages/pilot/src/containers/TransactionDetails/EventDetails/index.js
  packages/pilot/src/containers/TransactionDetails/EventDetails/style.css
  packages/pilot/src/containers/TransactionDetails/Events/index.js
  packages/pilot/src/containers/TransactionDetails/RefuseAlert/index.js
  packages/pilot/src/containers/TransactionDetails/RefuseAlert/style.css
  packages/pilot/src/containers/TransactionDetails/RenderBoleto/index.js
  packages/pilot/src/containers/TransactionDetails/RenderOutAmountSubtitle/index.js
  packages/pilot/src/containers/TransactionDetails/RenderOutAmountSubtitle/style.css
  packages/pilot/src/containers/TransactionDetails/RenderPayment/index.js
  packages/pilot/src/containers/TransactionDetails/RenderPaymentCard/index.js
  packages/pilot/src/containers/TransactionDetails/ReprocessAlerts/index.js
  packages/pilot/src/containers/TransactionDetails/ReprocessAlerts/style.css
  packages/pilot/src/containers/TransactionDetails/index.js
  packages/pilot/src/containers/TransactionDetails/style.css
  packages/pilot/src/containers/TransactionsList/renderStatusLegend.js
  packages/pilot/src/containers/TransactionsList/style.css
  packages/pilot/src/containers/TransactionsList/tableColumns.js
  packages/pilot/src/models/refuseLabels/actions.js
  packages/pilot/src/models/refuseLabels/buildErrorsMessage.js
  packages/pilot/src/models/refuseLabels/index.js
  packages/pilot/src/models/refuseLabels/reasons.js
  packages/pilot/src/models/transactionOperationTypes.js
  packages/pilot/src/pages/Transactions/Details/Details.js
  packages/pilot/stories/components/EventList/index.js
  packages/pilot/stories/pages/TransactionDetails/index.js
  packages/pilot/stories/pages/TransactionDetails/transactionMock.js
  yarn.lock
Labels: business, cos:standard, devs, pilot

#1533 google-analytics: set userId
  packages/pilot/src/vendor/googleTagManager.js
Labels: pilot

#1534 Release v0.21.6
  packages/pilot/src/vendor/googleTagManager.js
Labels: business, cos:standard, devs, pilot
