Repository pagarme/pilot, pull requests merged in 2019-09, with the labels that each got.

#1367 Release v0.18.1
  packages/cockpit/src/transactions/conversion/boleto/index.js
  packages/cockpit/src/transactions/conversion/boleto/mocks/expectedResult.json
  packages/cockpit/src/transactions/conversion/boleto/mocks/fromRequest.json
  packages/cockpit/src/transactions/conversion/boleto/query.js
  packages/cockpit/src/transactions/conversion/boleto/result.js
  packages/cockpit/src/transactions/conversion/boleto/result.test.js
  packages/cockpit/src/transactions/conversion/card/index.js
  packages/cockpit/src/transactions/conversion/card/mocks/expectedResult.json
  packages/cockpit/src/transactions/conversion/card/mocks/fromRequest.json
  packages/cockpit/src/transactions/conversion/card/query.js
  packages/cockpit/src/transactions/conversion/card/result.js
  packages/cockpit/src/transactions/conversion/card/result.test.js
  packages/cockpit/src/transactions/conversion/index.js
  packages/cockpit/src/transactions/conversion/mocks/expectedResult.json
  packages/cockpit/src/transactions/conversion/mocks/fromRequest.json
  packages/cockpit/src/transactions/conversion/result.js
  packages/cockpit/src/transactions/conversion/result.test.js
  packages/cockpit/src/transactions/index.js
  packages/pilot/public/locales/pt/translations.json
  packages/pilot/src/components/Logo/TestLogo.js
  packages/pilot/src/components/Logo/baseDark.svg
  packages/pilot/src/components/Logo/baseLight.svg
  packages/pilot/src/components/Logo/index.js
  packages/pilot/src/components/Logo/logo.svg
  packages/pilot/src/components/Logo/style.css
  packages/pilot/src/components/MetricCard/index.js
  packages/pilot/src/components/MetricCard/style.css
  packages/pilot/src/components/MetricChart/charts/RadialChart/CustomLabel.js
  packages/pilot/src/components/MetricChart/charts/RadialChart/Radial.js
  packages/pilot/src/components/MetricChart/charts/RadialChart/index.js
  packages/pilot/src/components/MetricChart/charts/RadialChart/style.css
  packages/pilot/src/components/MetricChart/charts/YAxisLabel.js
  packages/pilot/src/components/MetricChart/index.js
  packages/pilot/src/components/MetricChart/style.css
  packages/pilot/src/components/MetricList/List.js
  packages/pilot/src/components/MetricList/style.css
  packages/pilot/src/containers/Account/index.js
  packages/pilot/src/containers/Home/Content.js
  packages/pilot/src/containers/Home/ConversionCard.js
  packages/pilot/src/containers/Home/index.js
  packages/pilot/src/containers/Home/style.css
  packages/pilot/src/errors/sessions.js
  packages/pilot/src/pages/Account/index.js
  packages/pilot/src/pages/Balance/Balance.js
  packages/pilot/src/pages/Home/Home.js
  packages/pilot/src/pages/Home/actions.js
  packages/pilot/src/pages/Home/epic.js
  packages/pilot/src/pages/Home/reducer.js
  packages/pilot/src/pages/LoggedArea/Sidebar.js
  packages/pilot/stories/components/MetricChart/data.js
  packages/pilot/stories/components/MetricChart/index.js
  packages/pilot/stories/containers/Home/index.js
  packages/pilot/stories/containers/Home/mocks.js
Labels: cos:standard, devs, review-needed

#1378 PR de fixes da release/v0.19.0-rc1
  packages/pilot/public/locales/pt/translations.json
  packages/pilot/src/containers/RecipientDetails/Config/BankAccountContent/index.js
  packages/pilot/src/containers/RecipientTable/NotFoundMessage.js
  packages/pilot/src/containers/RecipientTable/index.js
  packages/pilot/src/containers/RecipientTable/style.css
  packages/pilot/src/pages/ErrorBoundary/ErrorBoundary.js
  packages/pilot/src/pages/Recipients/Detail/index.js
  packages/pilot/src/pages/Recipients/Search/Search.js
Labels: cos:standard, devs, review-needed

#1384 Transações - Altera ordem de colunas
  packages/pilot/public/locales/pt/translations.json
  packages/pilot/src/containers/TransactionsList/index.js
  packages/pilot/src/containers/TransactionsList/tableColumns.js
Labels: devs, pilot, review-needed

#1390 Bank: Add C6 Bank
  packages/pilot/public/locales/pt/translations.json
  packages/pilot/src/models/banks.js
Labels: cos:standard, devs, pilot

#1397 Transações - Corrige ordenação e alinhamento
  packages/pilot/src/containers/TransactionsList/tableColumns.js
Labels: devs, pilot, review-needed

#1394 Release v0.19.1
  packages/pilot/package.json
  packages/pilot/public/locales/pt/translations.json
  packages/pilot/src/components/PasswordInput/index.js
  packages/pilot/src/containers/Account/Confirmation.js
  packages/pilot/src/containers/Account/LoginForm/index.js
  packages/pilot/src/containers/Account/PasswordRecovery/Request/Confirmation.js
  packages/pilot/src/containers/Account/PasswordRecovery/Request/Form.js
  packages/pilot/src/containers/Account/PasswordRecovery/Request/index.js
  packages/pilot/src/containers/Account/PasswordRecovery/Reset/Confirmation.js
  packages/pilot/src/containers/Account/PasswordRecovery/Reset/Form.js
  packages/pilot/src/containers/Account/PasswordRecovery/Reset/index.js
  packages/pilot/src/containers/Account/Presentation.js
  packages/pilot/src/containers/Account/SignUp/Company/Confirmation.js
  packages/pilot/src/containers/Account/SignUp/Company/Form.js
  packages/pilot/src/containers/Account/SignUp/Company/index.js
  packages/pilot/src/containers/Account/SignUp/Confirmation.js
  packages/pilot/src/containers/Account/SignUp/InvalidEmailError.js
  packages/pilot/src/containers/Account/SignUp/User/Confirmation.js
  packages/pilot/src/containers/Account/SignUp/User/Form.js
  packages/pilot/src/containers/Account/SignUp/User/index.js
  packages/pilot/src/containers/Account/SignUp/index.js
  packages/pilot/src/containers/Account/style.css
  packages/pilot/src/containers/TransactionsList/index.js
  packages/pilot/src/containers/TransactionsList/tableColumns.js
  packages/pilot/src/models/banks.js
  packages/pilot/src/pages/Account/PasswordRecovery/Request/Confirmation.js
  packages/pilot/src/pages/Account/PasswordRecovery/Request/buildResetParamErrors.js
  packages/pilot/src/pages/Account/PasswordRecovery/Request/index.js
  packages/pilot/src/pages/Account/PasswordRecovery/Reset/Confirmation.js
  packages/pilot/src/pages/Account/PasswordRecovery/Reset/index.js
  packages/pilot/src/pages/Account/Presentation.js
  packages/pilot/src/pages/Account/SignUp/Company/Confirmation.js
  packages/pilot/src/pages/Account/SignUp/Company/index.js
  packages/pilot/src/pages/Account/SignUp/Confirmation.js
  packages/pilot/src/pages/Account/SignUp/InvalidEmailError.js
  packages/pilot/src/pages/Account/SignUp/User/Confirmation.js
  packages/pilot/src/pages/Account/SignUp/User/index.js
  packages/pilot/src/pages/Account/index.js
  packages/pilot/stories/pages/Landing/index.js
  yarn.lock
Labels: cos:standard, devs, v0.19.1
