Repository pagarme/pilot, pull requests merged in 2019-03, with the labels that each got.

#1102 Correções da página de recebedores
  packages/cockpit/src/recipient/add/recipientBuilders.js
  packages/cockpit/src/recipient/detail/format/index.js
  packages/pilot/public/locales/pt/translations.json
  packages/pilot/src/containers/AddRecipient/BankAccountStep/SelectAccount/index.js
  packages/pilot/src/containers/AddRecipient/ConclusionStep/SuccessIcon.svg
  packages/pilot/src/containers/AddRecipient/ConclusionStep/index.js
  packages/pilot/src/containers/AddRecipient/ConfirmStep/PartnerInfo/index.js
  packages/pilot/src/containers/AddRecipient/ConfirmStep/ReceiverInfo/index.js
  packages/pilot/src/containers/AddRecipient/ConfirmStep/index.js
  packages/pilot/src/containers/AddRecipient/ErrorStep/ErrorIcon.svg
  packages/pilot/src/containers/AddRecipient/ErrorStep/index.js
  packages/pilot/src/containers/AddRecipient/IdentificationStep/index.js
  packages/pilot/src/containers/AddRecipient/index.js
  packages/pilot/src/containers/AddRecipient/style.css
  packages/pilot/src/containers/RecipientDetails/Config/BankAccountContent/index.js
  packages/pilot/src/containers/RecipientDetails/Config/index.js
  packages/pilot/src/containers/RecipientDetails/Info/index.js
  packages/pilot/src/containers/RecipientDetails/index.js
  packages/pilot/src/containers/RecipientTable/index.js
  packages/pilot/src/containers/RecipientTable/statusLegend.js
  packages/pilot/src/containers/RecipientTable/style.css
  packages/pilot/src/containers/RecipientTable/tableColumns.js
  packages/pilot/src/pages/Anticipation/index.js
  packages/pilot/src/pages/Recipients/Search/Search.js
  packages/pilot/stories/containers/AddRecipient/ConfirmStep/index.js
  packages/pilot/stories/containers/RecipientDetails/Config/index.js
  packages/pilot/stories/containers/RecipientDetails/Info/index.js
  packages/pilot/stories/containers/index.js
Labels: bug-fix, cockpit, devs, pilot, review-needed

#1119 Transferência - Subtrai do valor a taxa de TED
  packages/pilot/src/pages/Withdraw/index.js
Labels: bug-fix, pilot, review-needed

#1120 release v0.9.1
  packages/pilot/src/pages/Withdraw/index.js
Labels: bug-fix, cos:expedite, pilot, portal-terra

#1127 Fix production build
  packages/pilot/src/configureStore/production.js
Labels: bug-fix, cos:expedite, devs, review-needed

#1122 Transactions: Order status legend
  packages/cockpit/src/transactions/search/result.js
  packages/cockpit/src/transactions/search/statusOrder.js
Labels: cockpit, devs, pilot, review-needed

#1135 Adiciona Virtual Page Views nos passos de cadastro de recebedor
  packages/pilot/src/containers/AddRecipient/BankAccountStep/index.js
  packages/pilot/src/containers/AddRecipient/ConclusionStep/index.js
  packages/pilot/src/containers/AddRecipient/ConfigurationStep/index.js
  packages/pilot/src/containers/AddRecipient/ConfirmStep/index.js
  packages/pilot/src/containers/AddRecipient/ErrorStep/index.js
  packages/pilot/src/containers/AddRecipient/IdentificationStep/index.js
  packages/pilot/src/vendor/googleTagManager.js
Labels: pilot, review-needed

#1123 Add: Snackbar component
  packages/pilot/public/locales/pt/translations.json
  packages/pilot/src/containers/AddRecipient/ConfigurationStep/index.js
  packages/pilot/src/containers/RecipientDetails/Balance/index.js
  packages/pilot/src/pages/Recipients/Detail/index.js
  packages/pilot/src/pages/Recipients/Detail/style.css
  packages/pilot/stories/containers/AddRecipient/ConfirmStep/index.js
  packages/pilot/stories/containers/RecipientDetails/index.js
Labels: devs, pilot, review-needed

#1134 Fix/recipient issues
  packages/cockpit/src/recipient/add/mocks/afterFormat.json
  packages/cockpit/src/recipient/add/mocks/beforeFormat.json
  packages/cockpit/src/recipient/add/recipientBuilders.js
  packages/cockpit/src/recipient/detail/format/formatRecipient.js
  packages/cockpit/src/recipient/detail/format/index.js
  packages/cockpit/src/recipient/detail/format/mocks.js
  packages/pilot/public/locales/pt/translations.json
  packages/pilot/src/containers/AddRecipient/ConfigurationStep/index.js
  packages/pilot/src/containers/AddRecipient/ConfirmStep/index.js
  packages/pilot/src/containers/AddRecipient/IdentificationStep/index.js
  packages/pilot/src/containers/Filter/index.js
  packages/pilot/src/containers/RecipientDetails/Balance/style.css
  packages/pilot/src/containers/RecipientDetails/Config/TransferContent/index.js
  packages/pilot/src/containers/RecipientDetails/Config/index.js
  packages/pilot/src/containers/RecipientTable/index.js
  packages/pilot/src/containers/RecipientTable/tableColumns.js
  packages/pilot/src/pages/Recipients/Add/Add.js
  packages/pilot/src/pages/Recipients/Search/Search.js
  packages/pilot/src/validation/protocol.js
  packages/pilot/stories/containers/AddRecipient/ConfigurationsStep/index.js
  packages/pilot/stories/containers/AddRecipient/ConfirmStep/index.js
  packages/pilot/stories/containers/RecipientDetails/Config/index.js
  packages/pilot/stories/containers/RecipientDetails/index.js
Labels: devs, pilot, review-needed

#1150 Antecipação - Corrige empty state
  packages/pilot/src/containers/Anticipation/index.js
  packages/pilot/src/pages/Anticipation/Anticipation.js
Labels: bug-fix, devs, pilot, review-needed

#1147 Release v0.10.1
  packages/cockpit/src/transactions/search/result.js
  packages/cockpit/src/transactions/search/statusOrder.js
  packages/pilot/src/containers/Anticipation/Form/Form.js
  packages/pilot/src/containers/Anticipation/Form/index.js
  packages/pilot/src/containers/Anticipation/Result/index.js
  packages/pilot/src/containers/Anticipation/index.js
  packages/pilot/src/containers/Balance/index.js
  packages/pilot/src/containers/Capture/Form/index.js
  packages/pilot/src/containers/Capture/Result/index.js
  packages/pilot/src/containers/Capture/index.js
  packages/pilot/src/pages/Anticipation/Anticipation.js
  packages/pilot/src/pages/Anticipation/actions.js
  packages/pilot/src/pages/Anticipation/epic.js
  packages/pilot/src/pages/Anticipation/index.js
  packages/pilot/src/pages/Anticipation/reducer.js
  packages/pilot/src/pages/Balance/Balance.js
  packages/pilot/src/pages/Capture/Capture.js
  packages/pilot/src/pages/LoggedArea/routes.js
  packages/pilot/src/pages/actions.js
Labels: bug-fix, cos:fixed-date, devs, pilot, review-needed, v0.10.1-rc2

#1153 balance: update export version
  packages/pilot/src/pages/Balance/Balance.js
Labels: bug-fix, cos:expedite, devs, review-needed

#1155 release v0.10.2
  packages/pilot/src/pages/Balance/Balance.js
Labels: bug-fix, cos:expedite, devs, pilot, review-needed, v0.10.2-rc1
