Repository pagarme/pilot, pull requests merged in 2019-01, with the labels that each got.

#1020 create-transaction: add payment credit card form
  packages/pilot/src/containers/CreateTransaction/Payment/CreditCard.js
  packages/pilot/src/containers/CreateTransaction/Payment/style.css
  packages/pilot/src/validation/creditCard.js
  packages/pilot/src/validation/cvv.js
  packages/pilot/src/validation/sameOrFutureDate.js
  packages/pilot/stories/components/CreditCardForm/index.js
  packages/pilot/stories/components/index.js
Labels: devs, pilot, review-needed

#863 Password Reset
  packages/pilot/package.json
  packages/pilot/public/locales/pt/translations.json
  packages/pilot/src/containers/Account/LoginForm/index.js
  packages/pilot/src/containers/Account/PasswordRecovery/Form.js
  packages/pilot/src/containers/Account/SignUp/Form.js
  packages/pilot/src/containers/Account/style.css
  packages/pilot/src/pages/Account/Login/index.js
  packages/pilot/src/pages/Account/PasswordRecovery/buildResetParamErrors.js
  packages/pilot/src/pages/Account/PasswordRecovery/index.js
  packages/pilot/src/validation/email.js
  yarn.lock
Labels: feature, pilot, review-needed

#1041 settings: add input with password strength
  packages/pilot/package.json
  packages/pilot/src/components/PasswordInput/index.js
  packages/pilot/src/containers/SelfRegister/CreateAccount/index.js
  packages/pilot/src/containers/Settings/User/passwordRedefinitionForm.js
  packages/pilot/stories/components/PasswordInput/index.js
  yarn.lock
Labels: devs, pilot, review-needed

#928 Transações: Modal de Captura
  packages/pilot/public/locales/pt/translations.json
  packages/pilot/src/components/CaptureDetails/index.js
  packages/pilot/src/containers/Capture/Form/index.js
  packages/pilot/src/containers/Capture/Form/style.css
  packages/pilot/src/containers/Capture/Result/index.js
  packages/pilot/src/containers/Capture/Result/style.css
  packages/pilot/src/containers/Capture/index.js
  packages/pilot/stories/components/CaptureDetails/index.js
  packages/pilot/stories/components/index.js
  packages/pilot/stories/containers/Capture/Form/index.js
  packages/pilot/stories/containers/Capture/Result/index.js
  packages/pilot/stories/containers/Capture/index.js
  packages/pilot/stories/containers/index.js
Labels: devs, pilot, review-needed

#1055 transaction: add token capture disclaimer link
  packages/pilot/src/containers/Capture/Form/index.js
Labels: devs, pilot, review-needed

#1059 status-legends: add analyzing labels
  packages/pilot/src/models/statusLegends.js
Labels: bug-fix, pilot, review-needed

#1070 chore: update former-kit and skin to 0.11.0
  packages/pilot/package.json
  yarn.lock
Labels: devs, pilot, review-needed

#1035 Recipients: Adicionar busca pelo external_id
  packages/pilot/src/pages/Recipients/Search/Search.js
Labels: devs, pilot, review-needed

#1072 transaction-details: fix no paid boleto split rule
  packages/pilot/src/containers/TransactionDetails/index.js
Labels: bug-fix, devs, pilot, review-needed

#1071 GTM Triggers: add GTM tag
  packages/pilot/src/pages/Account/actions/epic.js
  packages/pilot/src/pages/Root.js
  packages/pilot/src/vendor/googleTagManager.js
Labels: devs, pilot, review-needed
