Repository pagarme/pilot, pull requests merged in 2019-11, with the labels that each got.

#1452 PR: update de modelos de antecipação
  packages/cockpit/src/recipient/add/formatToRecipient.test.js
  packages/cockpit/src/recipient/add/mocks/afterFormat.json
  packages/cockpit/src/recipient/add/recipientBuilders.js
  packages/cockpit/src/recipient/detail/format/formatRecipient.js
  packages/cockpit/src/recipient/detail/format/mocks.js
  packages/cockpit/src/recipient/detail/index.js
  packages/pilot/public/locales/pt/translations.json
  packages/pilot/src/containers/AddRecipient/ConfigurationStep/Anticipation/index.js
  packages/pilot/src/containers/AddRecipient/ConfigurationStep/index.js
  packages/pilot/src/containers/AddRecipient/ConfirmStep/index.js
  packages/pilot/src/containers/RecipientDetails/Config/AnticipationContent/index.js
  packages/pilot/src/containers/RecipientDetails/Config/HelpModal/index.js
  packages/pilot/src/containers/RecipientDetails/Config/index.js
  packages/pilot/src/containers/RecipientDetails/Config/style.css
  packages/pilot/src/containers/RecipientDetails/index.js
  packages/pilot/src/pages/Recipients/Detail/index.js
  packages/pilot/src/validation/anticipationDays.js
Labels: dash-recebedores, devs, review-needed

#1490 Extrato - Corrige exibição de transferências bancárias
  packages/cockpit/src/balance/mocks/operations/expected.json
  packages/cockpit/src/balance/mocks/payables/expected.json
  packages/cockpit/src/balance/operations/buildRequest.js
  packages/cockpit/src/balance/operations/operations.js
  packages/cockpit/src/balance/operations/operations.test.js
  packages/cockpit/src/balance/operations/shared.js
  packages/cockpit/src/balance/operations/shared.test.js
  packages/cockpit/src/balance/total/buildRequest.js
  packages/pilot/public/locales/pt/translations.json
  packages/pilot/src/components/Operations/operationsTableColumns.js
  packages/pilot/src/models/operationTypes.js
Labels: cockpit, pilot, review-needed, unplanned

#1495 Recebedores - Corrige storybook da tela de configurações
  packages/pilot/src/containers/RecipientDetails/Config/HelpModal/index.js
  packages/pilot/src/containers/RecipientDetails/Config/index.js
  packages/pilot/stories/containers/RecipientDetails/Config/index.js
Labels: cos:standard, devs, pilot

#1497 Dependências - Atualiza former-kit para 1.7.3
  packages/pilot/package.json
  yarn.lock
Labels: devs, pilot, review-needed
