Repository pagarme/pilot, pull requests merged in 2019-07, with the labels that each got.

#1290 Atualiza versão v0.16.2 para v0.17.0
  packages/cockpit/src/company/info/general/index.js
Labels: bug-fix, cos:standard

#1300 bump former-kit and skin in release v0.17.0
  packages/pilot/package.json
  yarn.lock
Labels: cos:expedite, devs, pilot, review-needed

#1305 PR de implementação da nova props da tabela em RecipientsTable.
  packages/pilot/package.json
  packages/pilot/src/containers/RecipientDetails/Config/HelpModal/index.js
  packages/pilot/src/containers/RecipientDetails/Config/style.css
  packages/pilot/src/containers/RecipientTable/tableColumns.js
  yarn.lock
Labels: devs, pilot
