Repository pagarme/pilot, pull requests merged in 2019-04, with the labels that each got.

#1141 transactions-list: refactor table columns and filter
  packages/cockpit/src/transactions/search/query.js
  packages/cockpit/src/transactions/search/query.test.js
  packages/pilot/src/containers/TransactionsList/tableColumns.js
Labels: bug-fix, devs, pilot, review-needed

#1164 Sidebar: update Sidebar
  packages/pilot/src/containers/Sidebar/index.js
  packages/pilot/src/pages/LoggedArea/index.js
  packages/pilot/src/pages/LoggedArea/routes.js
Labels: cos:standard, dash-recebedores, devs

#1168 transaction: add hability to export based on query string from dashboard
  packages/pilot/src/containers/TransactionDetails/index.js
  packages/pilot/src/pages/Transactions/Details/Details.js
Labels: cos:intangible, devs, review-needed

#1170 bump dependencies
  packages/pilot/package.json
  yarn.lock
Labels: cos:standard, devs, pilot, review-needed

#1174 remover anticipation limits da sidebar
  packages/pilot/src/containers/Sidebar/index.js
  packages/pilot/src/pages/LoggedArea/Sidebar.js
  packages/pilot/src/pages/LoggedArea/index.js
Labels: cos:expedite, devs, pilot, review-needed

#1172 Release v0.12.0
  packages/cockpit/src/transactions/search/query.js
  packages/cockpit/src/transactions/search/query.test.js
  packages/pilot/package.json
  packages/pilot/public/locales/pt/translations.json
  packages/pilot/src/components/BalanceTotalDisplay/index.js
  packages/pilot/src/components/SidebarSections/index.js
  packages/pilot/src/containers/Balance/index.js
  packages/pilot/src/containers/Capture/index.js
  packages/pilot/src/containers/Refund/CardForm/index.js
  packages/pilot/src/containers/Sidebar/index.js
  packages/pilot/src/containers/TransactionDetails/index.js
  packages/pilot/src/containers/TransactionsList/tableColumns.js
  packages/pilot/src/pages/Balance/Balance.js
  packages/pilot/src/pages/LoggedArea/Sidebar.js
  packages/pilot/src/pages/LoggedArea/index.js
  packages/pilot/src/pages/Transactions/Details/Details.js
  packages/pilot/stories/containers/Balance/index.js
  yarn.lock
Labels: bug-fix, business, cos:fixed-date, devs, pilot, portal-terra, review-needed

#1169 Extrato - Corrige valor líquido de solicitações recentes
  packages/cockpit/src/bulkAnticipations/index.js
  packages/pilot/src/containers/Balance/index.js
Labels: cockpit, devs, pilot, review-needed

#1180 cockpit: add moment as peerDependency
  packages/cockpit/package.json
  packages/pilot/package.json
  yarn.lock
Labels: bug-fix, cockpit, cos:standard, devs, pilot, portal-terra, review-needed

#1098 Adiciona loaders locais
  packages/pilot/package.json
  packages/pilot/src/components/BalanceSummary/index.js
  packages/pilot/src/components/ExportData/index.js
  packages/pilot/src/components/Operations/TableData.js
  packages/pilot/src/components/Operations/index.js
  packages/pilot/src/components/Operations/style.css
  packages/pilot/src/components/TotalDisplay/index.js
  packages/pilot/src/components/TotalDisplay/style.css
  packages/pilot/src/components/withLoader/index.js
  packages/pilot/src/components/withLoader/style.css
  packages/pilot/src/components/withSpinner/index.js
  packages/pilot/src/components/withSpinner/style.css
  packages/pilot/src/containers/Anticipation/Form/Results.js
  packages/pilot/src/containers/Anticipation/Form/index.js
  packages/pilot/src/containers/Anticipation/Form/style.css
  packages/pilot/src/containers/Balance/index.js
  packages/pilot/src/containers/TransactionsList/TableList.js
  packages/pilot/src/containers/TransactionsList/index.js
  packages/pilot/src/containers/TransactionsList/style.css
  packages/pilot/src/pages/Anticipation/Anticipation.js
  packages/pilot/src/pages/Anticipation/index.js
  packages/pilot/src/pages/Balance/Balance.js
  packages/pilot/src/pages/LoggedArea/index.js
  packages/pilot/src/pages/Transactions/Search/Search.js
  packages/pilot/stories/components/index.js
  packages/pilot/stories/components/withLoader/index.js
  packages/pilot/stories/components/withLoader/style.css
  packages/pilot/stories/components/withSpinner/index.js
  packages/pilot/stories/components/withSpinner/style.css
  packages/pilot/stories/pages/Landing/index.js
  packages/pilot/yarn.lock
  yarn.lock
Labels: devs, pilot, review-needed

#1183 Antecipação - Atualiza transferência automática sem confirmação
  packages/pilot/src/containers/Anticipation/Form/Results.js
  packages/pilot/src/containers/Anticipation/Form/index.js
  packages/pilot/src/containers/Anticipation/index.js
  packages/pilot/src/pages/Anticipation/Anticipation.js
Labels: bug-fix, devs, pilot, review-needed

#1195 Release v0.13.0
  packages/cockpit/package.json
  packages/cockpit/src/balance/data/result.js
  packages/cockpit/src/balance/mocks/dataExpectedResult.json
  packages/cockpit/src/balance/mocks/dataFromRequestsMock.json
  packages/cockpit/src/bulkAnticipations/index.js
  packages/pilot/package.json
  packages/pilot/public/locales/pt/translations.json
  packages/pilot/src/components/BalanceSummary/index.js
  packages/pilot/src/components/ExportData/index.js
  packages/pilot/src/components/Operations/TableData.js
  packages/pilot/src/components/Operations/index.js
  packages/pilot/src/components/Operations/operationsTableColumns.js
  packages/pilot/src/components/Operations/style.css
  packages/pilot/src/components/TotalDisplay/index.js
  packages/pilot/src/components/TotalDisplay/style.css
  packages/pilot/src/components/withLoader/index.js
  packages/pilot/src/components/withLoader/style.css
  packages/pilot/src/components/withSpinner/index.js
  packages/pilot/src/components/withSpinner/style.css
  packages/pilot/src/containers/Anticipation/Form/Results.js
  packages/pilot/src/containers/Anticipation/Form/index.js
  packages/pilot/src/containers/Anticipation/Form/style.css
  packages/pilot/src/containers/Anticipation/index.js
  packages/pilot/src/containers/Balance/index.js
  packages/pilot/src/containers/Refund/BoletoForm/index.js
  packages/pilot/src/containers/Refund/BoletoForm/style.css
  packages/pilot/src/containers/Settings/BankAccount/Add/index.js
  packages/pilot/src/containers/Settings/BankAccount/Add/style.css
  packages/pilot/src/containers/TransactionsList/TableList.js
  packages/pilot/src/containers/TransactionsList/index.js
  packages/pilot/src/containers/TransactionsList/style.css
  packages/pilot/src/models/operationTypes.js
  packages/pilot/src/pages/Anticipation/Anticipation.js
  packages/pilot/src/pages/Anticipation/index.js
  packages/pilot/src/pages/Balance/Balance.js
  packages/pilot/src/pages/LoggedArea/index.js
  packages/pilot/src/pages/Transactions/Search/Search.js
  packages/pilot/stories/components/index.js
  packages/pilot/stories/components/withLoader/index.js
  packages/pilot/stories/components/withLoader/style.css
  packages/pilot/stories/components/withSpinner/index.js
  packages/pilot/stories/components/withSpinner/style.css
  packages/pilot/stories/pages/Landing/index.js
  packages/pilot/yarn.lock
  yarn.lock
Labels: bug-fix, cockpit, cos:fixed-date, devs, pilot, portal-terra, review-needed, v0.13.0-rc1
