Repository pagarme/pilot, pull requests merged in 2019-10, with the labels that each got.

#1409 Release v0.20.0
  packages/cockpit/src/transactions/chargebackRate/index.js
  packages/cockpit/src/transactions/chargebackRate/mocks/expectedResult.json
  packages/cockpit/src/transactions/chargebackRate/mocks/fromRequest.json
  packages/cockpit/src/transactions/chargebackRate/queries.js
  packages/cockpit/src/transactions/chargebackRate/result.js
  packages/cockpit/src/transactions/chargebackRate/result.test.js
  packages/cockpit/src/transactions/details/index.js
  packages/cockpit/src/transactions/details/isReprocessable.js
  packages/cockpit/src/transactions/details/isReprocessable.test.js
  packages/cockpit/src/transactions/details/mocks/expectedReprocessing.json
  packages/cockpit/src/transactions/details/mocks/expectedResultAntifraud.json
  packages/cockpit/src/transactions/details/mocks/expectedResultBoleto.json
  packages/cockpit/src/transactions/details/mocks/expectedResultMock.json
  packages/cockpit/src/transactions/details/mocks/fromReprocessing.json
  packages/cockpit/src/transactions/details/mocks/fromRequests.json
  packages/cockpit/src/transactions/details/reprocessedTransactions.js
  packages/cockpit/src/transactions/details/reprocessedTransactions.test.js
  packages/cockpit/src/transactions/details/result.js
  packages/cockpit/src/transactions/index.js
  packages/cockpit/src/transactions/reprocess/index.js
  packages/pilot/package.json
  packages/pilot/public/locales/pt/translations.json
  packages/pilot/src/components/DescriptionAlert/index.js
  packages/pilot/src/components/DescriptionAlert/style.css
  packages/pilot/src/components/Property/index.js
  packages/pilot/src/components/Property/style.css
  packages/pilot/src/components/ReprocessDetails/index.js
  packages/pilot/src/components/ReprocessDetails/style.css
  packages/pilot/src/containers/Reprocess/Confirmation/index.js
  packages/pilot/src/containers/Reprocess/Confirmation/style.css
  packages/pilot/src/containers/Reprocess/Form/index.js
  packages/pilot/src/containers/Reprocess/Form/style.css
  packages/pilot/src/containers/Reprocess/Result/failure.svg
  packages/pilot/src/containers/Reprocess/Result/index.js
  packages/pilot/src/containers/Reprocess/Result/style.css
  packages/pilot/src/containers/Reprocess/Result/success.svg
  packages/pilot/src/containers/Reprocess/index.js
  packages/pilot/src/containers/TransactionDetails/index.js
  packages/pilot/src/errors/transactions.js
  packages/pilot/src/pages/Recipients/Search/Search.js
  packages/pilot/src/pages/Reprocess/index.js
  packages/pilot/src/pages/Transactions/Details/Details.js
  packages/pilot/stories/components/DescriptionAlert/index.js
  packages/pilot/stories/components/DescriptionAlert/style.css
  packages/pilot/stories/components/ReprocessDetails/index.js
  packages/pilot/stories/components/index.js
  packages/pilot/stories/containers/Reprocess/Confirmation/index.js
  packages/pilot/stories/containers/Reprocess/Form/index.js
  packages/pilot/stories/containers/Reprocess/Result/index.js
  packages/pilot/stories/containers/Reprocess/index.js
  packages/pilot/stories/containers/index.js
  yarn.lock
Labels: business, cockpit, cos:fixed-date, devs, pilot, v0.20.0

#1423 Release v0.20.1
  packages/cockpit/src/transactions/details/isReprocessable.test.js
  packages/pilot/src/components/DetailsHead/index.js
  packages/pilot/src/containers/TransactionDetails/index.js
  packages/pilot/src/pages/Reprocess/index.js
  packages/pilot/src/pages/Transactions/Details/Details.js
Labels: bug-fix, business, cockpit, devs, pilot, v0.20.1

#1430 Refactor de labels do container Detalhes da Transação
  packages/pilot/public/locales/pt/translations.json
  packages/pilot/src/containers/TransactionDetails/index.js
  packages/pilot/src/pages/Transactions/Details/Details.js
  packages/pilot/stories/pages/TransactionDetails/index.js
Labels: cos:intangible, devs, pilot

#1426 PR: update URL validation
  packages/pilot/src/validation/protocol.js
Labels: cos:standard, dash-recebedores, devs, review-needed

#1429 PR: correção na exibição de informações de transferências automáticas
  packages/pilot/src/containers/RecipientTable/tableColumns.js
Labels: cos:standard, dash-recebedores, devs, review-needed

#1462 isReprocessable: hide reprocess button for reprocessed transactions
  packages/cockpit/src/transactions/details/isReprocessable.js
  packages/cockpit/src/transactions/details/isReprocessable.test.js
Labels: bug-fix, cockpit

#1466 fix reprocess with reference key
  packages/cockpit/src/transactions/reprocess/cleanTransaction.js
  packages/cockpit/src/transactions/reprocess/cleanTransaction.test.js
Labels: bug-fix
