Repository pagarme/pilot, pull requests merged in 2019-08, with the labels that each got.

#1316 account: refactor to handle with autocred companies.
  packages/pilot/src/pages/Account/actions/epic.js
Labels: bug-fix, devs, review-needed

#1317 Refatora utilização da store
  packages/pilot/src/App.js
  packages/pilot/src/configureStore/index.js
  packages/pilot/src/pages/Account/actions/epic.js
Labels: cos:intangible, devs, pilot, review-needed

#1319 settings: fix cancel version change
  packages/pilot/src/containers/Settings/Company/GeneralInfoTab/Versions/index.js
Labels: devs, pilot, review-needed

#1336 chore: remove gender from contributing file
  CONTRIBUTING.md
Labels: cos:intangible

#1358 Erros - Adiciona validação para sessão expirada
  packages/pilot/src/errors/sessions.js
  packages/pilot/src/pages/Home/Home.js
Labels: devs, pilot, review-needed
