Repository pagarme/pilot, pull requests merged in 2019-05, with the labels that each got.

#1218 Release v0.14.0
  packages/cockpit/src/balance/data/result.js
  packages/cockpit/src/balance/mocks/dataExpectedResult.json
  packages/cockpit/src/balance/mocks/dataFromRequestsMock.json
  packages/cockpit/src/proxy.js
  packages/cockpit/src/transactions/details/isRefundable.js
  packages/cockpit/src/transactions/details/isRefundable.test.js
  packages/pilot/public/locales/pt/translations.json
  packages/pilot/src/App.js
  packages/pilot/src/components/Operations/index.js
  packages/pilot/src/components/Operations/operationsTableColumns.js
  packages/pilot/src/components/PaymentBoleto/index.js
  packages/pilot/src/containers/Balance/index.js
  packages/pilot/src/errors/anticipation.js
  packages/pilot/src/errors/connection.js
  packages/pilot/src/errors/index.js
  packages/pilot/src/errors/react.js
  packages/pilot/src/errors/recipient.js
  packages/pilot/src/errors/sessions.js
  packages/pilot/src/errors/transactions.js
  packages/pilot/src/errors/unauthorizedEnvironment.js
  packages/pilot/src/formatters/apiError.js
  packages/pilot/src/formatters/error.js
  packages/pilot/src/formatters/reactError.js
  packages/pilot/src/initializeI18n.js
  packages/pilot/src/models/operationTypes.js
  packages/pilot/src/pages/Account/actions/epic.js
  packages/pilot/src/pages/Anticipation/Anticipation.js
  packages/pilot/src/pages/Anticipation/reducer.js
  packages/pilot/src/pages/Balance/Balance.js
  packages/pilot/src/pages/Balance/reducer.js
  packages/pilot/src/pages/ErrorBoundary/ErrorBoundary.js
  packages/pilot/src/pages/ErrorBoundary/actions.js
  packages/pilot/src/pages/ErrorBoundary/epic.js
  packages/pilot/src/pages/ErrorBoundary/index.js
  packages/pilot/src/pages/ErrorBoundary/reducer.js
  packages/pilot/src/pages/ErrorBoundary/withError.js
  packages/pilot/src/pages/Errors/ApplicationError/Icon.svg
  packages/pilot/src/pages/Errors/ApplicationError/index.js
  packages/pilot/src/pages/Errors/GenericError/Icon.svg
  packages/pilot/src/pages/Errors/GenericError/index.js
  packages/pilot/src/pages/Errors/NoConnection/Icon.svg
  packages/pilot/src/pages/Errors/NoConnection/index.js
  packages/pilot/src/pages/LoggedArea/index.js
  packages/pilot/src/pages/Transactions/Details/Details.js
  packages/pilot/src/pages/Transactions/Search/Search.js
  packages/pilot/src/pages/Withdraw/index.js
  packages/pilot/src/pages/actions.js
Labels: business, cockpit, cos:standard, devs, pilot, review-needed, uxs

#1219 Transactions List: Adiciona Empty State
  packages/pilot/public/locales/pt/translations.json
  packages/pilot/src/containers/TransactionsList/EmptyStateIcon.svg
  packages/pilot/src/containers/TransactionsList/index.js
  packages/pilot/src/containers/TransactionsList/style.css
Labels: devs, pilot, review-needed

#1233 Update storybook dependencies
  packages/pilot/package.json
  yarn.lock
Labels: bug-fix, cos:expedite, devs, review-needed

#1232 Release v0.14.1
  packages/cockpit/src/balance/data/index.js
  packages/cockpit/src/balance/data/result.js
  packages/cockpit/src/index.js
  packages/cockpit/src/withdraw/index.js
  packages/cockpit/src/withdraw/mocks/client.js
  packages/cockpit/src/withdraw/withdraw.test.js
  packages/pilot/package.json
  packages/pilot/src/pages/Account/actions/epic.js
  packages/pilot/src/pages/Account/actions/reducer.js
  packages/pilot/src/pages/Withdraw/index.js
  yarn.lock
Labels: cockpit, cos:fixed-date, devs, pilot, review-needed

#1234 Transactions Search: Refactora stringtoMoment func
  packages/pilot/src/pages/Transactions/Search/Search.js
Labels: devs, pilot, review-needed

#1235 PR - Fix de issues encontradas dentro de configurações em detalhes do recebedor
  packages/cockpit/src/recipient/account/formatBankAccount.js
  packages/cockpit/src/recipient/account/mocks/afterFormat.json
  packages/cockpit/src/recipient/detail/format/index.js
  packages/pilot/src/components/BalanceSummary/index.js
  packages/pilot/src/components/Operations/index.js
  packages/pilot/src/components/Operations/operationsTableColumns.js
  packages/pilot/src/containers/AddRecipient/BankAccountStep/SelectAccount/SelectAccountContent.js
  packages/pilot/src/containers/Balance/index.js
  packages/pilot/src/containers/RecipientDetails/Balance/index.js
  packages/pilot/src/containers/RecipientDetails/Config/BankAccountContent/index.js
  packages/pilot/src/containers/RecipientDetails/Config/index.js
  packages/pilot/src/validation/protocol.js
Labels: cos:standard, devs
