Repository pagarme/pilot, pull requests merged in 2019-02, with the labels that each got.

#1057 Add/recipients details cockpit
  packages/cockpit/src/recipient/account/index.js
  packages/cockpit/src/recipient/add/formatToRecipient.js
  packages/cockpit/src/recipient/add/formatToRecipient.test.js
  packages/cockpit/src/recipient/add/index.js
  packages/cockpit/src/recipient/add/mocks/afterBankFormat.json
  packages/cockpit/src/recipient/add/mocks/afterBankFormatID.json
  packages/cockpit/src/recipient/add/mocks/afterFormat.json
  packages/cockpit/src/recipient/add/mocks/beforeBankFormat.json
  packages/cockpit/src/recipient/add/mocks/beforeBankFormatID.json
  packages/cockpit/src/recipient/add/mocks/beforeFormat.json
  packages/cockpit/src/recipient/add/recipientBuilders.js
  packages/cockpit/src/recipient/detail/format/format.test.js
  packages/cockpit/src/recipient/detail/format/formatRecipient.js
  packages/cockpit/src/recipient/detail/format/index.js
  packages/cockpit/src/recipient/detail/format/mocks.js
  packages/cockpit/src/recipient/detail/index.js
  packages/cockpit/src/recipient/index.js
  packages/pilot/package.json
  packages/pilot/public/locales/pt/translations.json
  packages/pilot/src/containers/AddRecipient/ConfigurationStep/Transfer/index.js
  packages/pilot/src/containers/AddRecipient/ConfigurationStep/index.js
  packages/pilot/src/containers/AddRecipient/ConfirmStep/index.js
  packages/pilot/src/containers/RecipientDetails/Config/AnticipationContent/index.js
  packages/pilot/src/containers/RecipientDetails/Config/BankAccount32.svg
  packages/pilot/src/containers/RecipientDetails/Config/BankAccountContent/index.js
  packages/pilot/src/containers/RecipientDetails/Config/TransferContent/index.js
  packages/pilot/src/containers/RecipientDetails/Config/contentIds.js
  packages/pilot/src/containers/RecipientDetails/Config/index.js
  packages/pilot/src/containers/RecipientDetails/Info/index.js
  packages/pilot/src/containers/RecipientDetails/index.js
  packages/pilot/src/containers/RecipientsList/tableColumns.js
  packages/pilot/src/pages/LoggedArea/routes.js
  packages/pilot/src/pages/Recipients/Detail/index.js
  packages/pilot/src/pages/Recipients/Search/Search.js
  packages/pilot/src/pages/Recipients/index.js
  packages/pilot/stories/containers/AddRecipient/ConfirmStep/index.js
  packages/pilot/stories/containers/RecipientDetails/Config/index.js
  packages/pilot/stories/containers/RecipientDetails/Info/index.js
  packages/pilot/stories/containers/RecipientDetails/index.js
  yarn.lock
Labels: cockpit, devs, pilot, review-needed

#1092 transaction-details: fix bug transação recusada com split_rule
  packages/pilot/src/components/RecipientCard/index.js
  packages/pilot/src/containers/TransactionDetails/index.js
  packages/pilot/src/models/statusLegends.js
Labels: bug-fix, pilot, review-needed

#1094 Release v0.9.0
  .circleci/config.yml
  packages/cockpit/package.json
  packages/cockpit/src/transactions/export/index.js
  packages/cockpit/src/transactions/export/mocks/mockCSV.js
  packages/cockpit/src/transactions/export/mocks/mockXLS.js
  packages/cockpit/src/transactions/export/mocks/transactionsMockExport.json
  packages/cockpit/src/transactions/export/result.js
  packages/cockpit/src/transactions/export/result.test.js
  packages/cockpit/src/transactions/index.js
  packages/cockpit/src/transactions/shared/acquirerNames.js
  packages/cockpit/src/transactions/shared/antifraudStatusNames.js
  packages/cockpit/src/transactions/shared/cardBrandNames.js
  packages/cockpit/src/transactions/shared/export.js
  packages/cockpit/src/transactions/shared/statusName.js
  packages/pilot/package.json
  packages/pilot/public/locales/pt/translations.json
  packages/pilot/src/components/CustomerCard/index.js
  packages/pilot/src/components/CustomerCard/style.css
  packages/pilot/src/components/DetailsHead/style.css
  packages/pilot/src/components/Event/style.css
  packages/pilot/src/components/ExportData/index.js
  packages/pilot/src/components/ExportData/style.css
  packages/pilot/src/components/Operations/index.js
  packages/pilot/src/components/PaymentBoleto/style.css
  packages/pilot/src/components/PaymentCard/index.js
  packages/pilot/src/components/PaymentCard/style.css
  packages/pilot/src/components/Property/style.css
  packages/pilot/src/components/RecipientCard/index.js
  packages/pilot/src/components/RecipientSection/index.js
  packages/pilot/src/components/RiskLevel/style.css
  packages/pilot/src/components/TotalDisplay/style.css
  packages/pilot/src/components/TransactionDetailsCard/index.js
  packages/pilot/src/components/TransactionDetailsCard/style.css
  packages/pilot/src/containers/Anticipation/Form/Form.js
  packages/pilot/src/containers/Anticipation/Form/index.js
  packages/pilot/src/containers/Anticipation/index.js
  packages/pilot/src/containers/Balance/index.js
  packages/pilot/src/containers/RecipientList/index.js
  packages/pilot/src/containers/RecipientList/style.css
  packages/pilot/src/containers/TransactionDetails/index.js
  packages/pilot/src/containers/TransactionDetails/style.css
  packages/pilot/src/containers/TransactionsList/index.js
  packages/pilot/src/index.js
  packages/pilot/src/models/statusLegends.js
  packages/pilot/src/pages/Account/actions/epic.js
  packages/pilot/src/pages/Anticipation/index.js
  packages/pilot/src/pages/Balance/Balance.js
  packages/pilot/src/pages/Root.js
  packages/pilot/src/pages/Transactions/Details/Details.js
  packages/pilot/src/pages/Transactions/Search/Search.js
  packages/pilot/src/validation/matchToMediaQuery.js
  packages/pilot/src/vendor/appcues.js
  packages/pilot/src/vendor/fullStory.js
  packages/pilot/src/vendor/googleTagManager.js
  packages/pilot/src/vendor/identifyUser.js
  packages/pilot/src/vendor/setCompany.js
  packages/pilot/stories/components/ExportData/index.js
  packages/pilot/stories/components/index.js
  yarn.lock
Labels: bug-fix, cockpit, cos:fixed-date, devs, pilot, review-needed

#1091 Aba de Extrato nos Detalhes do Recebedor
  packages/cockpit/src/recipient/anticipationLimits.js
  packages/cockpit/src/recipient/detail/format/index.js
  packages/cockpit/src/recipient/index.js
  packages/pilot/public/locales/pt/translations.json
  packages/pilot/src/components/DetailsHead/index.js
  packages/pilot/src/containers/RecipientDetails/Balance/index.js
  packages/pilot/src/pages/Anticipation/index.js
  packages/pilot/src/pages/LoggedArea/routes.js
  packages/pilot/src/pages/Recipients/Detail/index.js
Labels: cockpit, devs, pilot, review-needed

#1101 Adiciona verificação de company no reload do extrato
  packages/pilot/src/pages/Balance/Balance.js
Labels: bug-fix, cos:standard, devs, pilot, review-needed

#1106 logged-area: refactor redirect to balance
  packages/pilot/src/pages/Balance/Balance.js
  packages/pilot/src/pages/LoggedArea/index.js
Labels: devs, pilot, review-needed

#1099 Atualização do botão e mensagens de antecipação em detalhes do recebedor
  packages/cockpit/src/recipient/detail/format/index.js
  packages/pilot/public/locales/pt/translations.json
  packages/pilot/src/containers/RecipientDetails/Balance/index.js
  packages/pilot/src/pages/Recipients/Detail/index.js
Labels: devs, pilot, review-needed
