Repository pagarme/pilot, pull requests merged in 2020-05, with the labels that each got.

#1615 Release/v0.25.0
  packages/pilot/src/containers/Onboarding/ProgressBar/index.js
  yarn.lock
Labels: feature, pilot

#1608 pricing: adds new boleto fields
  packages/cockpit/src/company/companyMock.json
  packages/cockpit/src/company/info/pricing/pricing.js
  packages/cockpit/src/company/info/pricing/pricing.test.js
  packages/pilot/public/locales/pt/translations.json
Labels: cockpit, feature, pilot

#1610 BalanceOperations - Add fee_adjustment compatibility
  packages/cockpit/src/balance/operations/operations.js
  packages/cockpit/src/balance/operations/operations.test.js
  packages/pilot/src/components/Operations/operationsTableColumns.js
Labels: bug-fix, cockpit, devs

#1619 Release/v0.26.0
  packages/cockpit/src/balance/operations/operations.js
  packages/cockpit/src/balance/operations/operations.test.js
  packages/cockpit/src/company/info/general/index.js
  packages/cockpit/src/transactions/chargebackRate/result.js
  packages/pilot/public/locales/pt/translations.json
  packages/pilot/src/components/Operations/operationsTableColumns.js
  packages/pilot/src/containers/Reprocess/Form/index.js
  packages/pilot/src/containers/Reprocess/index.js
  packages/pilot/src/pages/Reprocess/index.js
  packages/pilot/src/pages/Transactions/Details/Details.js
Labels: bug-fix, cos:standard

#1624 pricing: adds new boleto fields
  packages/cockpit/src/company/companyMock.json
  packages/cockpit/src/company/info/pricing/pricing.js
  packages/cockpit/src/company/info/pricing/pricing.test.js
  packages/pilot/public/locales/pt/translations.json
Labels: cockpit, feature, pilot

#1622 payment-links: add PaymentLinkAdd result
  packages/pilot/public/locales/pt/translations.json
  packages/pilot/src/components/ClickableDiv/index.js
  packages/pilot/src/containers/EmptyState/AccessKeys/LabelledValue.js
  packages/pilot/src/containers/PaymentLinks/NewLinksCard/style.css
  packages/pilot/src/containers/PaymentLinks/PaymentLinkAdd/Result.js
  packages/pilot/src/containers/PaymentLinks/PaymentLinkAdd/created_link.svg
  packages/pilot/src/containers/PaymentLinks/PaymentLinkAdd/style.css
  packages/pilot/src/containers/PaymentLinks/PaymentLinksList/tableColumns.js
  packages/pilot/src/containers/TransactionsList/TableList.js
  packages/pilot/src/containers/TransactionsList/index.js
  packages/pilot/stories/containers/PaymentLinks/PaymentLinkAdd/index.js
  packages/pilot/stories/containers/PaymentLinks/index.js
  packages/pilot/stories/containers/index.js
Labels: pilot
