Repository pagarme/pilot, pull requests merged in 2020-01, with the labels that each got.

#1550 Add fullstory block
  packages/pilot/src/components/ApiKey/index.js
  packages/pilot/src/vendor/fullStory.js
Labels: bug-fix, cos:expedite

#1553 Release v0.21.9
  packages/pilot/public/locales/pt/translations.json
  packages/pilot/src/components/TransferError/ErrorIcon.svg
  packages/pilot/src/components/TransferError/index.js
  packages/pilot/src/components/TransferError/style.css
  packages/pilot/src/containers/Filter/Tags/index.js
  packages/pilot/src/containers/Filter/Tags/style.css
  packages/pilot/src/containers/Filter/Toolbar/index.js
  packages/pilot/src/containers/Filter/Toolbar/style.css
  packages/pilot/src/containers/Filter/index.js
  packages/pilot/src/containers/Filter/optionsGroup/index.js
  packages/pilot/src/containers/Filter/optionsGroup/style.css
  packages/pilot/src/containers/Filter/style.css
  packages/pilot/src/containers/RecipientTable/index.js
  packages/pilot/src/containers/TransactionsList/index.js
  packages/pilot/src/containers/Withdraw/Result/index.js
  packages/pilot/src/containers/Withdraw/index.js
  packages/pilot/src/containers/Withdraw/style.css
  packages/pilot/src/pages/Recipients/Search/Search.js
  packages/pilot/src/pages/Transactions/Search/Search.js
  packages/pilot/src/pages/Transactions/Search/reducer.js
  packages/pilot/src/pages/Withdraw/index.js
Labels: bug-fix, business, cos:standard, devs, pilot, review-needed

#1557 Redirecionar cadastro de company para o Autocred
  packages/pilot/public/locales/pt/translations.json
  packages/pilot/src/containers/Account/Presentation.js
  packages/pilot/src/containers/Account/SignUp/Company/Confirmation.js
  packages/pilot/src/containers/Account/SignUp/Company/Form.js
  packages/pilot/src/containers/Account/SignUp/Company/index.js
  packages/pilot/src/containers/Account/SignUp/User/index.js
  packages/pilot/src/containers/Account/SignUp/index.js
  packages/pilot/src/containers/Account/UserSignUp/Confirmation.js
  packages/pilot/src/containers/Account/UserSignUp/Form.js
  packages/pilot/src/containers/Account/UserSignUp/index.js
  packages/pilot/src/pages/Account/Presentation.js
  packages/pilot/src/pages/Account/SignUp/Company/index.js
  packages/pilot/src/pages/Account/SignUp/User/Confirmation.js
  packages/pilot/src/pages/Account/UserSignUp/Confirmation.js
  packages/pilot/src/pages/Account/UserSignUp/index.js
  packages/pilot/src/pages/Account/dynamicImports.js
  packages/pilot/src/pages/Account/index.js
  packages/pilot/stories/pages/Landing/index.js
Labels: cos:standard, devs, pilot

#1551 cockpit: update reprocessment date window
  packages/cockpit/src/transactions/details/isReprocessable.js
  packages/cockpit/src/transactions/details/isReprocessable.test.js
Labels: blocked, cockpit, review-needed

#1559 Release v0.21.10
  packages/cockpit/src/transactions/details/isReprocessable.js
  packages/cockpit/src/transactions/details/isReprocessable.test.js
  packages/cockpit/src/transactions/shared/index.js
  packages/pilot/public/locales/pt/translations.json
  packages/pilot/src/containers/Account/Presentation.js
  packages/pilot/src/containers/Account/SignUp/Company/Confirmation.js
  packages/pilot/src/containers/Account/SignUp/Company/Form.js
  packages/pilot/src/containers/Account/SignUp/Company/index.js
  packages/pilot/src/containers/Account/SignUp/User/index.js
  packages/pilot/src/containers/Account/SignUp/index.js
  packages/pilot/src/containers/Account/UserSignUp/Confirmation.js
  packages/pilot/src/containers/Account/UserSignUp/Form.js
  packages/pilot/src/containers/Account/UserSignUp/index.js
  packages/pilot/src/containers/TransactionDetails/EventDetails/index.js
  packages/pilot/src/containers/TransactionDetails/EventDetails/style.css
  packages/pilot/src/containers/TransactionDetails/Events/index.js
  packages/pilot/src/containers/TransactionDetails/index.js
  packages/pilot/src/containers/TransactionsList/renderStatusLegend.js
  packages/pilot/src/models/refuseLabels/actions.js
  packages/pilot/src/models/refuseLabels/reasons.js
  packages/pilot/src/models/statusLegends.js
  packages/pilot/src/pages/Account/Presentation.js
  packages/pilot/src/pages/Account/SignUp/Company/index.js
  packages/pilot/src/pages/Account/SignUp/User/Confirmation.js
  packages/pilot/src/pages/Account/UserSignUp/Confirmation.js
  packages/pilot/src/pages/Account/UserSignUp/index.js
  packages/pilot/src/pages/Account/dynamicImports.js
  packages/pilot/src/pages/Account/index.js
  packages/pilot/stories/pages/Landing/index.js
Labels: cockpit, devs, pilot, review-needed

#1560 Links de pagamento - Adiciona componente header
  packages/pilot/src/containers/PaymentLinks/Header/index.js
  packages/pilot/src/containers/PaymentLinks/Header/style.css
  packages/pilot/stories/components/PaymentLinkHeader/index.js
  packages/pilot/stories/components/index.js
Labels: pilot, review-needed
