Repository pagarme/pilot, pull requests merged in 2020-02, with the labels that each got.

#1566 Extrato - Adiciona compatibilidade com reversão de estorno
  packages/cockpit/src/balance/mocks/operations/expected.json
  packages/cockpit/src/balance/mocks/operations/received.json
  packages/cockpit/src/balance/operations/operations.js
  packages/cockpit/src/balance/operations/operations.test.js
  packages/pilot/public/locales/pt/translations.json
  packages/pilot/src/components/Operations/operationsTableColumns.js
  packages/pilot/src/models/operationTypes.js
Labels: bug-fix, cockpit, pilot

#1564 On boarding: Adicionar EmptyState
  packages/pilot/public/locales/pt/translations.json
  packages/pilot/src/components/WelcomeMessage/index.js
  packages/pilot/src/components/WelcomeMessage/styles.css
  packages/pilot/src/components/WelcomeMessage/welcome.svg
  packages/pilot/src/containers/EmptyState/AccessDocs/index.js
  packages/pilot/src/containers/EmptyState/AccessKeys/KeyLabelAndValue.js
  packages/pilot/src/containers/EmptyState/AccessKeys/index.js
  packages/pilot/src/containers/EmptyState/AccessKeys/styles.css
  packages/pilot/src/containers/EmptyState/AccessWelcomeMaterial/index.js
  packages/pilot/src/containers/EmptyState/CollapsibleCard/index.js
  packages/pilot/src/containers/EmptyState/CollapsibleCard/styles.css
  packages/pilot/src/containers/EmptyState/Fees/FeeTitleAndValues.js
  packages/pilot/src/containers/EmptyState/Fees/index.js
  packages/pilot/src/containers/EmptyState/Fees/styles.css
  packages/pilot/src/containers/EmptyState/InfoCard/index.js
  packages/pilot/src/containers/EmptyState/InfoCard/styles.css
  packages/pilot/src/containers/EmptyState/index.js
  packages/pilot/src/containers/EmptyState/styles.css
  packages/pilot/src/containers/Header/index.js
  packages/pilot/src/containers/Header/rocket.svg
  packages/pilot/src/containers/Header/style.css
  packages/pilot/src/formatters/percent.js
  packages/pilot/src/pages/Account/actions/epic.js
  packages/pilot/src/pages/EmptyState/index.js
  packages/pilot/src/pages/Home/Home.js
  packages/pilot/src/pages/LoggedArea/Header.js
  packages/pilot/src/pages/LoggedArea/dynamicImports.js
  packages/pilot/src/pages/LoggedArea/routes.js
  packages/pilot/src/validation/recentCreatedUser.js
  packages/pilot/stories/components/WelcomeMessage/index.js
  packages/pilot/stories/components/index.js
  packages/pilot/stories/containers/EmptyState/index.js
  packages/pilot/stories/containers/index.js
Labels: feature, help-wanted, review-needed

#1571 On boarding: Adicionar EmptyState
  packages/pilot/public/locales/pt/translations.json
  packages/pilot/src/components/WelcomeMessage/index.js
  packages/pilot/src/components/WelcomeMessage/styles.css
  packages/pilot/src/components/WelcomeMessage/welcome.svg
  packages/pilot/src/containers/EmptyState/AccessDocs/index.js
  packages/pilot/src/containers/EmptyState/AccessKeys/KeyLabelAndValue.js
  packages/pilot/src/containers/EmptyState/AccessKeys/index.js
  packages/pilot/src/containers/EmptyState/AccessKeys/styles.css
  packages/pilot/src/containers/EmptyState/AccessWelcomeMaterial/index.js
  packages/pilot/src/containers/EmptyState/CollapsibleCard/index.js
  packages/pilot/src/containers/EmptyState/CollapsibleCard/styles.css
  packages/pilot/src/containers/EmptyState/Fees/FeeTitleAndValues.js
  packages/pilot/src/containers/EmptyState/Fees/index.js
  packages/pilot/src/containers/EmptyState/Fees/styles.css
  packages/pilot/src/containers/EmptyState/InfoCard/index.js
  packages/pilot/src/containers/EmptyState/InfoCard/styles.css
  packages/pilot/src/containers/EmptyState/index.js
  packages/pilot/src/containers/EmptyState/styles.css
  packages/pilot/src/containers/Header/index.js
  packages/pilot/src/containers/Header/rocket.svg
  packages/pilot/src/containers/Header/style.css
  packages/pilot/src/formatters/percent.js
  packages/pilot/src/pages/Account/actions/epic.js
  packages/pilot/src/pages/EmptyState/index.js
  packages/pilot/src/pages/Home/Home.js
  packages/pilot/src/pages/LoggedArea/Header.js
  packages/pilot/src/pages/LoggedArea/dynamicImports.js
  packages/pilot/src/pages/LoggedArea/routes.js
  packages/pilot/src/validation/recentCreatedUser.js
  packages/pilot/stories/components/WelcomeMessage/index.js
  packages/pilot/stories/components/index.js
  packages/pilot/stories/containers/EmptyState/index.js
  packages/pilot/stories/containers/index.js
Labels: devs, feature, help-wanted

#1568 release v0.21.11
  packages/cockpit/src/balance/mocks/operations/expected.json
  packages/cockpit/src/balance/mocks/operations/received.json
  packages/cockpit/src/balance/operations/operations.js
  packages/cockpit/src/balance/operations/operations.test.js
  packages/pilot/public/locales/pt/translations.json
  packages/pilot/src/components/Operations/operationsTableColumns.js
  packages/pilot/src/models/operationTypes.js
Labels: bug-fix, cockpit, cos:expedite, devs, pilot

#1580 Onboarding: Adicionar EmptyState - Correções
  packages/pilot/src/components/WelcomeMessage/index.js
  packages/pilot/src/components/WelcomeMessage/styles.css
  packages/pilot/src/containers/EmptyState/AccessDocs/index.js
  packages/pilot/src/containers/EmptyState/AccessDocs/styles.css
  packages/pilot/src/containers/EmptyState/AccessKeys/index.js
  packages/pilot/src/containers/EmptyState/AccessKeys/styles.css
Labels: v0.23.0

#1574 release v0.23.0
  packages/pilot/public/locales/pt/translations.json
  packages/pilot/src/components/WelcomeMessage/index.js
  packages/pilot/src/components/WelcomeMessage/styles.css
  packages/pilot/src/components/WelcomeMessage/welcome.svg
  packages/pilot/src/containers/EmptyState/AccessDocs/index.js
  packages/pilot/src/containers/EmptyState/AccessDocs/styles.css
  packages/pilot/src/containers/EmptyState/AccessKeys/LabelledValue.js
  packages/pilot/src/containers/EmptyState/AccessKeys/index.js
  packages/pilot/src/containers/EmptyState/AccessKeys/styles.css
  packages/pilot/src/containers/EmptyState/AccessWelcomeMaterial/index.js
  packages/pilot/src/containers/EmptyState/CollapsibleCard/index.js
  packages/pilot/src/containers/EmptyState/CollapsibleCard/styles.css
  packages/pilot/src/containers/EmptyState/Fees/FeeTitleAndValues.js
  packages/pilot/src/containers/EmptyState/Fees/index.js
  packages/pilot/src/containers/EmptyState/Fees/styles.css
  packages/pilot/src/containers/EmptyState/InfoCard/index.js
  packages/pilot/src/containers/EmptyState/InfoCard/styles.css
  packages/pilot/src/containers/EmptyState/index.js
  packages/pilot/src/containers/EmptyState/styles.css
  packages/pilot/src/containers/Header/index.js
  packages/pilot/src/containers/Header/rocket.svg
  packages/pilot/src/containers/Header/style.css
  packages/pilot/src/formatters/percent.js
  packages/pilot/src/pages/Account/actions/epic.js
  packages/pilot/src/pages/EmptyState/index.js
  packages/pilot/src/pages/Home/Home.js
  packages/pilot/src/pages/LoggedArea/Header.js
  packages/pilot/src/pages/LoggedArea/dynamicImports.js
  packages/pilot/src/pages/LoggedArea/routes.js
  packages/pilot/src/validation/recentCreatedUser.js
  packages/pilot/stories/components/WelcomeMessage/index.js
  packages/pilot/stories/components/index.js
  packages/pilot/stories/containers/EmptyState/index.js
  packages/pilot/stories/containers/index.js
Labels: feature, pilot

#1581 Release v0.23.1
  packages/cockpit/src/balance/mocks/total/operations/expected.json
  packages/cockpit/src/balance/mocks/total/payables/expected.json
  packages/cockpit/src/balance/mocks/total/payables/received.json
  packages/cockpit/src/balance/total/operations.js
  packages/cockpit/src/balance/total/payables.js
  packages/pilot/public/locales/pt/translations.json
  packages/pilot/src/components/BalanceSummary/TotalDisplayTitle.js
  packages/pilot/src/components/BalanceSummary/index.js
  packages/pilot/src/components/BalanceSummary/style.css
  packages/pilot/src/containers/Balance/index.js
  packages/pilot/src/containers/BalanceOperations/index.js
  packages/pilot/src/containers/RecipientDetails/Balance/index.js
  packages/pilot/stories/components/BalanceSummary/index.js
Labels: cockpit, cos:standard, devs, pilot
